<!-- Admin Form Popup -->
<div id="modal-form" class="popup-basic popup-lg mfp-with-anim">
    <div class="panel">
        <div class="panel-heading">
            <span class="panel-title">
                <i class="fa fa-building"></i>{{@page.title}}
            </span>
        </div>
        <!-- end .panel-heading section -->
        <div id="results"></div>
        <form method="post" action="{{@form.action}}">
            <div class="panel-body p25">

                <div class="section">
                    <div class="form-group col-md-6">
                        <label for="company" class="control-label">Company/Organization</label>
                        <div class="bs-component">
                            <input placeholder="Name of the Company if lead is a Company" type="text" name="company" id="company" class="form-control" title="Company name if lead is not a person"/>
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="contact_name" class="control-label">Contact Name</label>
                        <div class="bs-component">
                            <input placeholder="Name of Chief Contact Names" type="text" name="contact[name]" id="contact_name" class="form-control"/>
                        </div>
                    </div>
                    <div class="form-group col-md-12">
                        <label for="contact_email" class="control-label">Contact Email</label>
                        <div class="bs-component">
                            <input placeholder="Contacts Email" type="text" name="contact[email]" id="contact_email" class="form-control"/>
                        </div>
                    </div>
                    <div class="form-group col-md-12">
                        <label for="contact_email" class="control-label">Contact Telephone</label>
                        <div class="bs-component">
                            <input placeholder="Contacts Telephone" type="text" name="contact[telephone]" id="contact_telephone" class="form-control"/>
                        </div>
                    </div>
                    <div class="form-group col-md-12">
                        <label for="source" class="control-label">
                            Choose a Source
                            <check if="{{@sources}}">
                                <false>
                                    <span class="label label-danger">Please Create Lead Sources for your organisation <a href="/organisations">HERE</a> </span>
                                </false>
                            </check>
                        </label>
                        <div class="bs-component">
                            <select required name="lead[source]" id="source" class="select2-single form-control" group="{{@sources}}">
                            </select>
                        </div>

                    </div>
                    <div class="form-group col-md-12">
                    <check if="{{@templates}}">
                        <true>

                                <div class="checkbox-custom fill mb5">
                                    <input type="checkbox" checked="" id="sendWelcomeEmail"/>
                                    <label for="sendWelcomeEmail">Send Welcome Email</label>
                                </div>
                                <div class="bs-component">
                                    <select name="welcometemplate" id="template"  class="select2-single form-control" group="{{@templates}}">
                                    </select>
                                </div>

                        </true>
                        <false>
                            <span class="label label-warning">Please Create A welcome template to be able to be sending welcome templates</span>
                        </false>
                    </check>
                    </div>
                </div>
                <!-- end section -->

            </div>
            <!-- end .form-body section -->

            <div class="panel-footer">
                <button type="submit" class="btn btn-sm btn-primary">Submit</button>
            </div>
            <!-- end .form-footer section -->
        </form>
    </div>
    <!-- end: .panel -->
</div>
<!-- end: .admin-form -->
<script>
    $(function(){
        $('#sendWelcomeEmail').on('change', function(e){
            $('select#template').attr('disabled', !$(this).is(':checked'))
        })

    })
</script>