<div class="col-md-12">
    <div class="panel panel-visible" id="spy4">
        <div class="panel-heading">
            <div class="panel-title">
                <span class="glyphicon glyphicon-tasks"></span>{{@page.title}}</div>
        </div>
        <div class="panel-menu text-right">
            <a href="/leads/add" class="btn btn-sm btn-alert ajax-modal"> <i class="fa fa-plus-circle"></i> Add Lead</a>
        </div>
        <div class="panel-body pn">
            <table class="table table-striped table-hover table-responsive" id="datatable" cellspacing="0">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Status</th>
                    <th class="hidden-sm hidden-xs">Source</th>
                    <th>Contacts</th>
                    <th class="hidden-sm">Creator</th>
                    <th class="hidden-sm">Created</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                <repeat group="{{@list}}" value="{{@lead}}" counter="{{@i}}">
                    <tr>
                        <td>{{@i}}</td>
                        <td>{{@lead->title}}</td>
                        <td>{{@lead->status->title}}</td>
                        <td class="hidden-sm hidden-xs">{{@lead->source->title}}</td>
                        <td>{{@@lead->contacts[0]->fullnames}}</td>
                        <td class="hidden-sm">{{@lead->creator->fullnames}}</td>
                        <td class="hidden-sm"><time class="cw-relative-date" datetime="{{@lead->datecreated}}"></time></td>
                        <td>
                            <a data-toggle="tooltip" title="View {{'Lead' | customlang}}" href="/leads/view/{{@lead->id}}" class="iconLink" ><i class="fa fa-search-plus"></i> View</a>
                            <a data-toggle="tooltip" data-type="{{'Lead' | customlang}}" title="Delete {{'Lead' | customlang}}" class="delete iconLink" href="/leads/delete/{{@lead->id}}" ><i class="fa fa-remove"></i> Delete</a>

                        </td>
                    </tr>
                </repeat>


                </tbody>
            </table>
        </div>
    </div>
</div>