    <div class="row">
        <div class="col-md-5">
            <h2 class="mtn">{{@lead->title}}</h2>

            <br/>
            <div class="panel listgroup-widget">
                <div class="panel-heading">
                    <span class="panel-icon">
                        <i class="fa fa-users"></i>
                    </span>
                    <span class="panel-title"> Contacts</span>
                    <span class="pull-right">
                        <a class="ajax-modal" href="/lead/{{@lead->id}}/contacts/add">
                            <i class="fa fa-plus"></i> Add
                        </a>
                    </span>
                </div>
                <div class="panel-body pn">

                    <table class="table mbn tc-med-last">
                        <tbody>
                        <repeat group="{{@lead->contacts}}" value="{{@contact}}">
                            <tr>
                                <td>
                                    <b>{{@contact->fullnames}}</b><br/>
                                    {{@contact->position}}{{@contact->position?'<br>':''}}
                                    {{@contact->phone}}{{@contact->phone?'<br>':''}}
                                    {{@contact->email}}{{@contact->email?'<br>':''}}
                                </td>
                                <td class="text-right">
                                    <a class="ajax-modal" href="/contacts/edit/{{@contact->id}}"><span class="fa fa-pencil"></span> Edit </a> &nbsp;&nbsp;
                                    <a href="/contacts/delete/{{@contact->id}}" class="delete" data-type="Contact" ><span class="fa fa-trash"></span> Delete </a>
                                </td>
                            </tr>
                        </repeat>
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- Task Widget -->
            <div class="panel panel-widget task-widget">
                <div class="panel-heading cursor">
                    <span class="panel-icon">
                        <i class="fa fa-cog"></i>
                    </span>
                    <span class="panel-title"> Tasks </span>

                    <span class="pull-right">
                        <a class="ajax-modal" href="/lead/{{@lead->id}}/tasks/add">
                            <i class="fa fa-plus"></i> Add
                        </a>
                    </span>
                </div>
                <div class="panel-body {{count(@lead->tasks)?'panel-scroller scroller-md':''}}">

                    <ul class="task-list task-current">
                        <li class="task-label">Current Tasks</li>

                        <repeat group="{{@lead->pendingtasks}}" value="{{@task}}">
                        <li class="task-item info" data-id="{{@task->id}}">
                            <div class="task-handle">
                                <div class="checkbox-custom">
                                    <input type="checkbox" id="_task{{@task->id}}"/>
                                    <label for="_task{{@task->id}}"></label>
                                </div>
                            </div>
                            <div class="task-desc">{{@task->title}} <span><time class="cw-relative-date" datetime="{{@task->datedue}}"></time></span></div>
                            <div class="task-menu"></div>
                            <div class="task-control">
                                <a class="ajax-modal"  href="/tasks/edit/{{@task->id}}"><i class="fa fa-pencil"></i></a> &nbsp;
                                <a href="/tasks/delete/{{@task->id}}" data-type="Task" class="delete"><i class="fa fa-trash"></i></a>
                            </div>
                        </li>
                        </repeat>

                    </ul>

                    <ul class="task-list task-completed">
                        <li class="task-label">Completed Tasks</li>

                        <repeat group="{{@lead->completedtasks}}" value="{{@task}}">
                        <li class="task-item success item-checked" data-id="{{@task->id}}">
                            <div class="task-handle">
                                <div class="checkbox-custom">
                                    <input type="checkbox" id="task{{@task->id}}"/>
                                    <label for="task{{@task->id}}"></label>
                                </div>
                            </div>
                            <div class="task-desc">{{@task->title}}<span class="hidden"><time class="cw-relative-date" datetime="{{@task->duedate}}"></time></span></div>
                            <div class="task-menu"></div>
                        </li>
                        </repeat>


                    </ul>
                </div>

            </div>


            <!-- Column Graph -->
            <div class="panel" id="p5">
                <div class="panel-heading cursor">
                    <span class="panel-icon">
                        <span class="glyphicons glyphicons-cup"></span>
                    </span>
                    <span class="panel-title">Opportunities ({{@lead->opportunities?count(@lead->opportunities):0}})</span>
                    <span class="pull-right">
                        <a class="ajax-modal" href="/lead/{{@lead->id}}/opportunities/add">
                            <i class="fa fa-plus"></i> Add
                        </a>
                    </span>
                </div>
            </div>

                <repeat group="{{@lead->opportunities}}" value="{{@opportunity}}">
                    <div class="panel" id="p6">
                        <div class="panel-heading cursor">
                    <span class="panel-icon">
                        <span class="glyphicons glyphicons-cup"></span>
                    </span>
                            <span class="panel-title"><b>{{@opportunity->producttype->title}}</b> : <b>Ksh {{@opportunity->amount | currency}}</b></span>
                            <span class="pull-right">
                                <check if="{{@opportunity->sale}}">
                                    <false>
                                        <a class="ajax-modal" href="/opportunities/edit/{{@opportunity->id}}"><i class="fa fa-pencil"></i></a> &nbsp;
                                        <a href="/opportunities/delete/{{@opportunity->id}}" data-type="Opportunity" class="delete"><i class="fa fa-trash"></i></a>
                                    </false>
                                    <true>
                                        <span class="badge badge-success">Approved</span>
                                    </true>
                                </check>

                            </span>
                        </div>
                <div class="panel-body pn" style="margin-bottom: 10px">
                    <table class="table mbn tc-med-last table-striped">
                        <tbody>
                        <tr>
                            <td valign="top">
                                <span class="fa fa-circle text-warning fs14 mr10"></span>
                                Contact: {{@opportunity->contact->fullnames}}<br/>
                                Assignee: {{@opportunity->assignee->fullnames}}

                            </td>
                            <td valign="top">
                                {{@opportunity->status->title}}<br/>
                                {{@opportunity->confidence}}%
                                {{@opportunity->expecteddate}}

                            </td>
                        </tr>
                        <tr>
                            <td colspan="4" style="background: #eee;">
                                Comments: {{@opportunity->description}}
                                <br/>
                            </td>
                        </tr>
                        <tr>
                                <table class="table admin-form theme-warning tc-checkbox-1 fs13">
                                    <thead>
                                    <tr class="bg-light">
                                        <th class="">{{'Product Title'| customlang}}</th>
                                        <th class="">Unit</th>
                                        <th class="">Price</th>
                                        <th class="text-right">Status</th>

                                    </tr>
                                    </thead>
                                    <tbody>
                                    <repeat group="{{@opportunity->products}}" value="{{@product}}">
                                        <tr>
                                            <td class="">{{@product->title}}</td>
                                            <td class="">{{@product->unit}}</td>
                                            <td class="">{{@product->price | currency }}</td>
                                            <td class="text-right">
                                                <check if="{{@opportunity->sale}}">
                                                    <false>
                                                        <div class="btn-group text-right">
                                                            <button type="button" class="btn btn-success br2 btn-xs fs12 dropdown-toggle" data-toggle="dropdown" aria-expanded="false"> Active
                                                                <span class="caret ml5"></span>
                                                            </button>
                                                            <ul class="dropdown-menu" role="menu">
                                                                <li>
                                                                    <a href="/products/edit/{{@product->id}}" class="ajax-modal">Edit</a>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </false>
                                                    <true>
                                                        <span class="badge badge-system">Sold</span>
                                                    </true>
                                                </check>

                                            </td>
                                        </tr>
                                    </repeat>
                                    </tbody>
                                </table>
                        </tr>
                        <tr>
                                <div class="row">
                                    <div id="justified-button-bar" class="col-lg-12">
                                        <div class="btn-group btn-group-justified">
                                            <div class="btn-group">
                                                <check if="{{@opportunity->products && !@opportunity->sale}}">
                                                    <true>
                                                        <a href="/opportunity/{{@opportunity->id}}/quotations/add" title="Create {{'Quotation'| customlang}}(s)" type="button" class="btn btn-default" data-toggle="tooltip">
                                                            <i class="fa fa-plus"></i></span>&nbsp; {{'Quotation'| customlang}}
                                                        </a>
                                                    </true>
                                                </check>
                                                <check if="{{!@opportunity->products && !@opportunity->sale}}">
                                                    <true>
                                                            <a href="/opportunities/edit/{{@opportunity->id}}" title="Add {{'Product'| customlang}}{s) for {{'Quotation'| customlang}}" type="button" class="btn btn-default ajax-modal" data-toggle="tooltip">
                                                                <i class="fa fa-edit"></i></span>&nbsp; Edit Opportunity
                                                            </a>
                                                    </true>
                                                </check>

                                            </div>
                                        </div>
                                    </div>
                            </div>
                            <div class="panel listgroup-widget">
                                <div class="panel-body pn">

                                    <table class="table mbn tc-med-last">
                                        <tbody>
                                        <repeat group="{{@opportunity->quotations}}" value="{{@quotation}}">
                                            <tr class="{{@quotation->sale?'success':''}}{{!@quotation->sale && !@quotation->active?'danger':''}}">
                                                <td>
                                                    <b><i class="fa fa-shopping-cart"></i> {{'Quotation'| customlang}} : {{@@quotation->opportunity->contact->fullnames}}: <span class="badge">{{@quotation->sale?'Approved':''}}{{!@quotation->sale && !@quotation->active?'Rejected':''}}</span></b>
                                                    <br/>
                                                    {{@quotation->datecreated}}
                                                    </br>Amount: {{@quotation->amount | currency }} <br/>
                                                    <b>Payments <a data-toggle="collapse" href="#collapsePayment{{@quotation->id}}" aria-expanded="false" aria-controls="#collapsePayment{{@quotation->id}}"><i class="fa fa-eye"></i></a></b><br>
                                                    <div class="collapse" id="collapsePayment{{@quotation->id}}">
                                                        <repeat group="{{@quotation->paymentPlan}}" value="{{@payment}}">
                                                            {{@payment->amount?'Payment: ':''}}{{@payment->amount | currency }}{{@payment->amount?'<br>':''}}
                                                        </repeat>
                                                    </div>

                                                </td>
                                                <td class="text-right">
                                                    <check if="{{!@quotation->sale}}">
                                                        <true>
                                                            <a href="/opportunity/{{@opportunity->id}}/quotations/approve/{{@quotation->id}}"  data-toggle="tooltip" title="Approve {{'Quotation'| customlang}}"><span class="fa fa-check"></span></a>&nbsp;
                                                        </true>
                                                    </check>
                                                    <check if="{{@quotation->active && !@quotation->sale}}">
                                                        <true>
                                                            <a href="/opportunity/{{@opportunity->id}}/quotations/reject/{{@quotation->id}}"  data-toggle="tooltip" title="Reject {{'Quotation'| customlang}}"><span class="fa fa-times"></span></a>&nbsp;
                                                        </true>
                                                    </check>
                                                    <a href="/opportunity/{{@opportunity->id}}/quotations/view/{{@quotation->id}}"  data-toggle="tooltip" title="View {{'Quotation'| customlang}}"><span class="fa fa-bookmark"></span></a>&nbsp;
                                                    <check if="{{@quotation->active && !@quotation->sale}}">
                                                        <true>
                                                            <a href="/opportunity/{{@opportunity->id}}/quotations/edit/{{@quotation->id}}"  data-toggle="tooltip" title="Edit {{'Quotation'| customlang}}"><span class="fa fa-pencil"></span></a>&nbsp;
                                                            <a href="/opportunity/{{@opportunity->id}}/quotations/delete/{{@quotation->id}}" class="delete" data-type="{{'Quotation'| customlang}}" data-toggle="tooltip" title="Delete {{'Quotation'| customlang}}"><span class="fa fa-trash"></span></a>

                                                        </true>
                                                    </check>

                                                </td>
                                            </tr>
                                        </repeat>
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                        </tr>
                        </tbody>
                    </table>
                </div>
                    </div>

                </repeat>












        </div>
        <div class="col-md-7">

            <h2 class="mtn">

                <a class="btn btn-default btn-gradient dark ajax-modal" href="/lead/{{@lead->id}}/notes/add">
                    <i class="glyphicons glyphicons-comments"></i> Note
                </a>
                <button type="button" class="btn btn-default btn-gradient dark" data-toggle="collapse" data-target="#emailCompose" aria-expanded="false" aria-controls="emailCompose">
                    <i class="glyphicons glyphicons-envelope"></i> Email
                </button>
                <a class="btn btn-default btn-gradient dark ajax-modal" id="load-callform"href="/lead/{{@lead->id}}/calls/add">
                    <i class="glyphicons glyphicons-phone"></i> Log a Call
                </a>
                <div class="col-md-3 pull-right">
                    <select name="status" id="status" class="form-control" group="{{ @statuses?@statuses:array() }}" data-id="{{@lead->id}}">
                    </select>
                </div>


            </h2>
            <br/>
            <div class="email-compose collapse" id="emailCompose">
                <div id="email-results"></div>

                <!-- Email -->
                <form class="form-horizontal" role="form" method="POST" action="/lead/{{@lead->id}}/emails/add" id="leademail-form">
                    <div class="panel">
                        <div class="panel-heading">
                            <span class="panel-title">New Email</span>

                        </div>
                        <div class="panel-body bg-light pt20 pbn pl30">
                            <div class="pull-left col-md-8"><p><label>From:</label> {{@USER->fullnames}} &lt;{{@USER->email}}&gt;</p></div>
                        </div>
                        <div class="panel-body">

                            <div class="ph20">
                                <div class="form-group">
                                    <div class="bs-component">
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                To:
                                            </span>
                                            <input name="email[to]" class="form-control" type="text" data-role="emails-input" value="{{@lead->contacts[0]->email}}"/>
                                        </div>

                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="bs-component">
                                        <a class="add-cc">Add CC</a>
                                        <a class="add-bcc">Add BCC</a>

                                    </div>
                                </div>
                                <div class="form-group" id="cc-input">
                                    <div class="bs-component">
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                CC:
                                            </span>
                                            <input name="email[cc]" class="form-control" type="text" data-role="emails-input"/>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group" id="bcc-input">
                                    <div class="bs-component">
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                BCC:
                                            </span>
                                            <input name="email[bcc]" class="form-control" type="text" style="width: 100%;" data-role="emails-input"/>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="bs-component">
                                        <input name="email[subject]" class="form-control" type="text" placeholder="Subject"/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="bs-component">
                                        <textarea class="summernote-email" name="email[description]"></textarea>
                                    </div>
                                </div>
                                <div class="form-group" id="foremailattachments">
                                    <div class="bs-component">
                                        <div id="emailattachments" class="dropzone"></div>
                                    </div>
                                </div>

                            </div>

                        </div>
                        <div class="panel-footer clearfix">
                            <span class="pull-left" style="padding:5px">
                                <a href="#" id="toggleattachments"><span class="glyphicons glyphicons-paperclip fa-lg"></span></a>
                            </span>

                            <span class="pull-right">
                                <input class="btn btn-primary btn-sm ph15" type="submit" name="send" value="Send"/>
                            </span>

                        </div>
                    </div>
                </form>
            </div>



            <div class="panel">
                <div class="panel-body {{ count(@lead->allactivities)>7? 'panel-scroller scroller-pn pn':''}}">
                    <ol class="timeline-list">
                        <repeat group="{{@lead->allactivities}}" value="{{@activity}}">
                        <li class="timeline-item">
                            <div class="timeline-icon bg-dark light">
                                <span class="{{@activity->icon}}"></span>
                            </div>
                            <div class="timeline-desc">

                                <p><span class="text-darker">{{@activity->description}}</span>
                                    </br><time class="cw-relative-date" datetime="{{@activity->datecreated}}"></time>
                                </p>

                            </div>
                            <div class="timeline-date rightn">
                                {{@activity->creator->firstname}}
                                <img src="{{@activity->creator->gravatar}}" alt="avatar" class="mw30 br4 ml10">

                            </div>
                        </li>

                        </repeat>

                    </ol>
                </div>
            </div>




        </div>
    </div>



    <script>

        function syncEmails(reload) {
            $.get('/emails/sync/{{@lead->id}}',function(xhr){
                if (reload)
                    $.pjax.reload('#content');
            })
        }
        $(function(){
            setTimeout(syncEmails(), 1000 * 60 * 20);
            syncEmails(false);
        })
    </script>