<section class="table-layout">

    <!-- begin: .tray-center -->
    <div class="tray tray-center">



        <!-- recent orders table -->
        <div class="panel">
            <div class="panel-menu p12 admin-form theme-primary">
                <div class="row">
                    <div class="col-md-5">
                            <select group="{{@types}}">
                                <option value="0">Filter by Type</option>
                            </select>
                    </div>
                    <div class="col-md-5">
                        <label class="field select">
                            <select id="filter-status" name="filter-status" class="empty">
                                <option value="0">Filter by Status</option>
                                <option value="1">Active</option>
                                <option value="2">Inactive</option>
                                <option value="3">Low Stock</option>
                                <option value="4">Out of Stock</option>
                            </select>
                            <i class="arrow"></i>
                        </label>
                    </div>
                </div>
            </div>
            <div class="panel-body pn">
                <div class="table-responsive">
                    <table class="table admin-form theme-warning tc-checkbox-1 fs13">
                        <thead>
                        <tr class="bg-light">
                            <th class="">Product Title</th>
                            <th class="">SKU</th>
                            <th class="">Price</th>
                            <th class="">Stock</th>
                            <th class="text-right">Status</th>

                        </tr>
                        </thead>
                        <tbody>
                        <repeat group = "{{@list}}" value="{{@product}}">
                            <tr>
                            <td class="">{{@product->title}}</td>
                            <td class="">#{{@product->sku?@product->sku:@product->_id}}</td>
                            <td class="">{{@product->price | currency}}</td>
                            <td class="">{{@product->qty?@product->qty:1}}</td>
                            <td class="text-right">
                                <span class="label label-success">Active</span>
                            </td>
                        </tr>
                        </repeat>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
    <!-- end: .tray-center -->

    <!-- begin: .tray-right -->
    <aside class="tray tray-right tray290" data-tray-height="match">

        <!-- menu quick links -->
        <div class="admin-form">

            <h4> Filter Products</h4>

            <hr class="short">

            <div class="section mb15">
                <label for="order-id" class="field prepend-icon">
                    <input type="text" name="order-id" id="order-id" class="gui-input" placeholder="Product SKU #"/>
                    <label for="order-id" class="field-icon">
                        <i class="fa fa-tag"></i>
                    </label>
                </label>
            </div>

            <h5><small>Price Range(Ksh)</small></h5>
            <div class="section row mb15">
                <div class="col-md-6">
                    <label for="price1" class="field prepend-icon">
                        <input type="text" name="price1" id="price1" class="gui-input" placeholder="0"/>
                        <label for="price1" class="field-icon">
                            <i class="fa fa-money"></i>
                        </label>
                    </label>
                </div>
                <div class="col-md-6">
                    <label for="price2" class="field prepend-icon">
                        <input type="text" name="price2" id="price2" class="gui-input" placeholder="1000"/>
                        <label for="price2" class="field-icon">
                            <i class="fa fa-money"></i>
                        </label>
                    </label>
                </div>
            </div>

            <h5><small>Sales Date</small></h5>
            <div class="section row">
                <div class="col-md-6">
                    <label for="date1" class="field prepend-icon">
                        <input type="text" name="date1" id="date1" class="gui-input" placeholder="01/01/15"/>
                        <label for="date1" class="field-icon">
                            <i class="fa fa-calendar"></i>
                        </label>
                    </label>
                </div>
                <div class="col-md-6">
                    <label for="date2" class="field prepend-icon">
                        <input type="text" name="date2" id="date2" class="gui-input" placeholder="01/31/15"/>
                        <label for="date2" class="field-icon">
                            <i class="fa fa-calendar"></i>
                        </label>
                    </label>
                </div>
            </div>

            <h5><small>Search Categories</small></h5>
            <div class="section form-group">
                <select about="select">
                        <option value="0" selected="selected">Filter by Categories</option>
                        <option value="1">Electronics</option>
                        <option value="2">Software</option>
                </select>
            </div>

            <h5><small>Search Customers</small></h5>
            <div class="section">
                <label class="field select">
                    <select id="filter-customers" name="filter-customers">
                        <option value="0" selected="selected">Filter by Vendor</option>
                        <option value="1">Michael</option>
                        <option value="2">David</option>
                        <option value="3">Sara</option>
                        <option value="4">Tasha</option>
                    </select>
                    <i class="arrow double"></i>
                </label>
            </div>

            <hr class="short">

            <div class="section">
                <button class="btn btn-default btn-sm ph25" type="button">Search</button>
                <label class="field option ml15">
                    <input type="checkbox" name="info">
                    <span class="checkbox"></span>
                    <span class="text-muted">Save Search</span>
                </label>
            </div>

        </div>

    </aside>
    <!-- end: .tray-right -->

</section>