
<div class="col-md-9">
    <div class="panel panel-visible" id="spy4">
        <div class="panel-heading">
            <div class="panel-title">
                <span class="glyphicon glyphicon-tasks"></span>{{'Products' | customlang}} Catalogue
            </div>
        </div>
        <div class="panel-menu text-right">
            <a href="/products/add" class="btn btn-sm btn-alert"> <i class="fa fa-plus-circle"></i> Add {{'Product' | customlang}}</a>
        </div>
        <div class="panel-body pn">
            <table class="table table-striped table-hover display" id="datatable" cellspacing="0" width="100%">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Status</th>
                    <th>{{'Product Type' | customlang}}</th>
                    <th>Price</th>
                    <th>Unit</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                <repeat group="{{@list}}" value="{{@product}}">
                    <tr>
                        <td>{{@product->title}}</td>
                        <td><span class="label label-{{@product->status->badge}}">{{@product->status->title}}</span></td>
                        <td>{{@product->type->title}}</td>
                        <td>{{@product->price | currency }}</td>
                        <td>{{@product->unit}}</td>
                        <td>
                            <a data-toggle="tooltip" title="Edit {{'Product' | customlang}}" href="/products/edit/{{@product->id}}" class="iconLink" ><i class="fa fa-edit"></i> Edit</a>
                            <a data-toggle="tooltip" data-type="{{'Product' | customlang}}" title="Delete {{'Product' | customlang}}" class="delete iconLink" href="/products/delete/{{@product->id}}" ><i class="fa fa-remove"></i> Delete</a>
                        </td>
                    </tr>
                </repeat>


                </tbody>
            </table>
        </div>
    </div>
</div>
<aside class="col-md-3">
    <form action="/products/filter" method="post">
    <div class="panel">
    <!-- Start: Sidebar Right Content -->
    <div class="sidebar-right-content nano-content p10 panel-body"> 

        <h5 class="title-divider text-muted mb20"> Quick Filter
        </h5>

        <!--h5 class="title-divider text-muted mt30 mb10">Traffic Margins</--h5-->
        <div class="row">
            <div class="form-group col-md-12">
                <label>Status</label>
                <div class="bs-component">
                    <repeat group="{{@productStatuses}}" value="{{@status}}">
                        <span class="label label-{{@status->badge}}"><input type="checkbox" name="filter[status][]" value="{{@status->id}}" title="{{@status->description}}"/>{{@status->title}}</span>
                    </repeat>
                </div>
            </div>
            <div class="form-group col-md-12">
                <label>Price</label>
                <div class="bs-component">
                    <div class="col-md-6">
                        <input type="text"  name="filter[priceStart]" placeholder="0" id="start" class="col-xs-6 form-control"/>
                    </div>
                    <div class="col-md-6">
                        <input type="text" name="filter[priceEnd]" placeholder="999999999999" id="end" class="col-xs-6 form-control"/>
                    </div>


                </div>

            </div>
            <div class="form-group col-md-12">
                <label for="product_type" class="control-label">{{'Product Type'| customlang}}</label>
                <div class="bs-component">
                    <select id="product_type" placeholder="Choose {{'Product Type'| customlang}}"  name="filter[type]" class="select2-single form-control" group="{{@types}}">
                        <option>Choose {{'Product Type'| customlang}}</option>
                    </select>
                </div>
            </div>
            <div class="form-group col-md-12" id="cf">
                <label class="control-label">Custom Fields</label>
                <div class="form-group customfields">

                </div>

            </div>
            <div class="form-group col-md-12">
                <label class="control-label">Settings <small class="label label-warning">Custom {{'Product'| customlang}} Settings</small></label>
                <div class="checkbox-custom fill checkbox-primary mb5">
                    <input type="checkbox" name="filter[isService]" id="service"/>
                    <label for="service">Is a Service?</label>
                </div>
                <div class="checkbox-custom fill checkbox-primary mb5">
                    <input type="checkbox" name="filter[isResale]" id="resale"/>
                    <label for="resale">Can be Resold?</label>
                </div>
            </div>
        </div>



    </div>
        <div class="panel-footer text-right">
            <a class="btn btn-sm btn-warning" href="/products">Reset</a><button type="submit" class="btn btn-sm btn-primary">Filter</button>
        </div>
        <script>
            $(function(){
                var customdata = {{json_encode(@POST.custom)}};
                function loadFields(){
                        $.post('/producttypes/customfields/'+$('select#product_type').val()+'?full=true&handler=filter', customdata).done(function(res){
                            $('#cf').hide();
                            var html = $.parseHTML(res.fields.template);
                            $(".customfields").html(html);
                            if(html != null)
                                $('#cf').show('slow');

                        });
                }
                $('select#product_type').on('change',function(e){
                    loadFields();
                });
                loadFields();
            });
        </script>

    </div>
    </form>
</aside>
