<div class="clearfix"></div>
<div id="newsletter-form">
    <div class="panel">
        <div class="panel-heading">
            <span class="panel-title">
                <i class="fa fa-building"></i>{{@page.title | customlang}}
            </span>
        </div>
        <form method="post" action="{{@form.action}}">
            <div class="panel-body p25">

                <div class="section" style="min-height: 90px;">
                    <div class="form-group col-md-12">
                        <label for="title" class="control-label">{{'Newsletter'| customlang}} Group Name</label>
                        <div class="bs-component">
                            <input type="text" name="newsletter[title]" id="title" class="form-control" required/>
                        </div>
                    </div>


                </div>
                <div class="algorithm panel" style="display: block">
                    <div class="panel-heading">
                        <h5>Select Your Criteria</h5>
                    </div>
                    <div class="panel-body">
                        <div class="form-group col-md-12">
                            <label for="status" class="control-label">Lead/Contact Status</label>
                            <div class="bs-component">
                                <select name="algorithm[leadStatus]" id="status" class="form-control" group="{{ @leads.statuses?@leads.statuses:array() }}">
                                </select>
                            </div>
                        </div>
                        <div class="form-group col-md-12">
                            <label for="source" class="control-label">Lead/Contact Source</label>
                            <div class="bs-component">
                                <select name="algorithm[leadSource]" id="source" class="form-control" group="{{ @leads.sources?@leads.sources:array() }}">
                                </select>
                            </div>
                        </div>
                        <div class="clearfix">
                            <div class="form-group col-md-12">
                                <label for="opportunity" class="control-label">{{'Opportunities' | customlang }}</label>
                                <div class="bs-component">
                                    <div class="checkbox-custom mb5">
                                        <input type="checkbox" name="algorithm[hasOpportunity]" value="1" id="opportunity"/>
                                        <label for="opportunity">Contact Has Opportunity</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-md-12">
                            <label for="status" class="control-label">Opportunity Status</label>
                            <div class="bs-component">
                                <select name="algorithm[opportunityStatus]" id="opportunitystatus" class="form-control" group="{{ @opportunity.statuses?@opportunity.statuses:array() }}">
                                </select>
                            </div>
                        </div>
                        <div class="form-group col-md-12">
                            <label for="source" class="control-label">{{'Product Type' | customlang }}</label>
                            <div class="bs-component">
                                <select name="algorithm[productType]" id="productType" class="form-control" group="{{ @producttypes?@producttypes:array() }}"></select>
                            </div>
                        </div>
                        <div class="form-group col-md-12">
                            <label for="source" class="control-label">{{'Sales' | customlang }}</label>
                            <div class="bs-component">
                                <div class="checkbox-custom mb5">
                                    <input type="checkbox" name="algorithm[hasSale]" value="1" id="sales"/>
                                    <label for="sales">Has Ever made a Sale with our Organisation</label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-md-12">
                            <label for="source" class="control-label">{{'Email' | customlang }}</label>
                            <div class="bs-component">
                                <div class="checkbox-custom mb5">
                                    <input type="checkbox" name="algorithm[hasEmail]" value="1" id="emails"/>
                                    <label for="emails">Sent or Received an Email</label>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>



                <!-- end section -->

            </div>
            <!-- end .form-body section -->

            <div class="panel-footer">
                <check if="{{@PARAMS.id}}">
                    <true>
                        <input id="newsletter_id" type="hidden" name="newsletter[id]" value="{{@PARAMS.id}}">
                    </true>
                </check>
                <button type="submit" class="btn btn-sm btn-primary">Submit</button>
            </div>
            <!-- end .form-footer section -->
        </form>
    </div>
    <!-- end: .panel -->
</div>
<!-- end: .contact-form -->
<script>
    $(function(){
        $('input[name="newsletter[type]"]').trigger('change');
        $('input[name="newsletter[type]"]').on('change',function(){

            var $class = $(this).val();
            if($class == 'algorithm'){
                $('div.algorithm').show();
                $('div.file').hide();
            }
            if($class == 'file'){
                $('div.algorithm').hide();
                $('div.file').show();
            }

        })
    })
</script>

