
<div class="col-md-12">
    <div class="panel panel-visible" id="spy4">
        <div class="panel-heading">
            <div class="panel-title hidden-xs">
                <span class="glyphicon glyphicon-tasks"></span>{{'Newsletter Groups' | customlang}} Listing</div>
        </div>
        <div class="panel-menu text-right">
            <a href="/newsletters/add" class="btn btn-info btn-sm light fw600 ml10">
                <span class="fa fa-plus pr5"></span> Add {{'Group' | customlang}} </a>
        </div>
        <div class="panel-body pn">
            <table class="table table-striped table-hover display" id="datatable" cellspacing="0">
                <thead>
                <tr>
                    <th>Title</th>
                    <th>Contact Count</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                <repeat group="{{@list}}" value="{{@group}}">
                    <tr>
                        <td>{{@group->title}}</td>
                        <td>{{@group->contacts?count(@group->contacts->castAll()):0}}</td>
                        <td><a href="/newsletters/edit/{{@group->id}}">Edit</a> </td>
                    </tr>
                </repeat>


                </tbody>
            </table>
        </div>
    </div>
</div>

