<div class="row">
    <div class="col-md-12">
        <div class="panel">
            <div class="panel-heading">
                <span class="panel-icon"><i class="fa fa-bank"></i></span>
                <span class="panel-title">Organisations</span>
            </div>
            <div class="panel-menu text-right">
                <a href="http://{{@subdomain}}.{{DOMAIN}}/organisations/add" class="btn btn-default"> <i class="fa fa-plus-circle"></i> Add Organisation</a>
            </div>
            <div class="panel-body">
                <table class="table table-striped mfp-no-margins table-bordered">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Name</th>
                        <th>Leads</th>
                        <th>Users</th>
                        <th>Website</th>
                        <th>Creator</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    <repeat group="{{@organisations}}" value="{{@organisation}}" counter="{{@i}}">
                        <tr>
                            <td>{{@i}}</td>
                            <td>{{@organisation->name}}</td>
                            <td>{{@organisation->leads?count(@organisation->leads):0}}</td>
                            <td>{{@organisation->users?count(@organisation->users):0}}</td>
                            <td><a target="_blank" href="{{@organisation->website?@organisation->website:'http://'. @subdomain .'.'. DOMAIN}}">{{@organisation->website?@organisation->website:'http://'. @subdomain .'.'. DOMAIN}}</a></td>
                            <td>{{@organisation->creator->fullnames}}</td>
                            <td><a href="http://{{@subdomain}}.{{DOMAIN}}/organisations/view/{{@organisation->id}}"> <i class="fa fa-plus"></i>View</a></td>
                        </tr>
                    </repeat>

                    </tbody>
                </table>
            </div>
            <div class="panel-footer">Total: {{@organisations?count(@organisations):0}} organisation(s)</div>
        </div>
    </div>

</div>