/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 5, 2015, 6:20:10 PM
    Author     : martthewz
*/


.navbar-right .multiselect-container.dropdown-menu{
    right:auto;
}

hr.shorter {
    margin: 10px 0;
}

.task-desc{
    color:#222;
}

.task-desc span{
    color:#aaa;
    font-weight: 500;
}

.task-completed .task-desc span{
    display:none;
}

.text-darker{
    color:#626262;
}

.right5{
    right:5px !important;
}


.task-widget ul.task-list .task-item .task-control {
    z-index: 1;
    position: absolute;
    width: 60px;
    height: 100%;
    right: 20px;
    top: 0;
    font-weight: normal;
    color: #666;
    padding:10px;
    display: none;
}

.task-widget ul.task-list .task-item:hover .task-control {
    display: block;
}

.timeline-desc .text-control {
   display: none;
}

.timeline-desc:hover .text-control {
    display: inline;
}

.bs-component .note-editor{
    border: 1px solid #dddddd;
}

#cc-input, #bcc-input{
    display: none;
}
#foremailattachments{
    display: none;
}

#message-table > tbody > tr {
    cursor: pointer;
}

#overlay {
    position: absolute;
    left: 0;
    height: 100vh;
    width: 100vw;
    top: 0;
    bottom: 0;
    right: 0;
    background: #000;
    opacity: 0.8;
    filter: alpha(opacity=80);
    z-index: 10000000;
}
#loading {
    width: 64px;
    height: 64px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -32px 0 0 -32px;
}