<!-- Info boxes -->
<div class="clearfix"></div>
<div class="row">
    <div class="col-md-12">
        <div class="panel">
            <div class="panel-heading">
            <span class="panel-title">
                <i class="fa fa-user-plus"></i>{{@page.title}}
            </span>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-12">


                        <div class="panel panel-alert">
                            <!-- form start -->
                            <form action="{{@form.action}}" class="form-horizontal" id="userform" name="userform" role="form" method="post" accept-charset="utf-8">
                                <div class="panel-body">

                                    <div class="form-group">
                                        <label for="code" class="col-sm-3 control-label">First Name</label>
                                        <div class="col-sm-7">
                                            <input type="text" class="form-control" id="firstname" name="user[firstname]"
                                                   placeholder="Enter First Name" />
                                            <span class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="name" class="col-sm-3 control-label">Last name</label>
                                        <div class="col-sm-7">
                                            <input type="text" class="form-control" id="name" name="user[lastname]"
                                                   placeholder="Enter last name of the user"/>
                                            <span class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="Tel" class="col-sm-3 control-label">Telephone No.</label>
                                        <div class="col-sm-7">
                                            <input type="text" class="form-control" id="tel" name="user[telephone]"
                                                   placeholder="Enter your Telephone Number" />
                                            <span class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="email" class="col-sm-3 control-label">Email address</label>
                                        <div class="col-sm-7">
                                            <input type="email" class="form-control" id="email" name="user[email]"
                                                   placeholder="Enter email"  />
                                            <span class="text-danger"></span>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class=" btn btn-danger">Leave Empty for no change in password</div>
                                        <label for="password" class="col-sm-3 control-label">Password</label>
                                        <div class="col-sm-4">
                                            <input type="password" class="form-control" id="password" name="user[password]"
                                                   placeholder="Password" />
                                            <span class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="btn btn-danger">Leave Empty for no change in password</div>
                                        <label for="password_repeat" class="col-sm-3 control-label">Confirm password</label>
                                        <div class="col-sm-4">
                                            <input type="password" class="form-control" id="password_repeat" name="password_repeat"
                                                   placeholder="Confirm password"/>
                                            <span class="text-danger"></span>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="type" class="col-sm-3 control-label">User Type</label>
                                        <div class="col-md-7">
                                            <select name="user[type]" id="type" required data-parsley-min="1" data-parsley-min-message="Please Select a User Type" group="{{ \Application\Models\UserType::select_data('title') }}" class="form-control" placeholder="Select UserType"></select>

                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="type" class="col-sm-3 control-label">Organisations</label>
                                        <div class="col-md-7 panel">
                                            <div class="panel-heading">
                                                <span class="panel-title">
                                                    <i class="fa fa-search-plus"></i>Please Tag User to Their Organisations
                                                </span>
                                            </div>
                                            <div class="panel-body">
                                                <repeat group="{{@organisations}}" value="{{@organisation}}">
                                                    <div class="checkbox-custom fill checkbox-primary mb5">
                                                        <input type="checkbox" name="user[organisations][]" value="{{@organisation->id}}" {{ \Application\Models\User::isInOrganisation(@organisation->id,@PARAMS.id)?'checked':''}} id="organisation_{{@organisation->id}}"/>
                                                        <label for="organisation_{{@organisation->id}}">{{@organisation->name}}</label>
                                                    </div>
                                                </repeat>

                                            </div>

                                        </div>
                                    </div>
                                </div>

                                <!-- /.box-body -->

                                <div class="panel-footer">

                                    <div class="form-group">
                                        <div class="col-sm-offset-3 col-lg-8 col-sm-8 text-left">

                                            <button class="btn btn-danger" type="submit"><i class="fa fa-save"></i> Save </button>
                                            <a href="/users" class="btn btn-info"><i class="fa fa-times"></i> Cancel </a>

                                        </div>
                                    </div>
                                </div>

                            </form>





                        </div><!-- /.box -->

                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- ./box-body -->
        </div><!-- /.box -->
    </div><!-- /.col -->
</div><!-- /.row -->






