
<div class="col-md-10">
    <div class="panel panel-visible" id="spy4">
        <div class="panel-heading">
            <div class="panel-title hidden-xs">
                <span class="glyphicon glyphicon-tasks"></span>{{@page.title}}</div>
        </div>
        <div class="panel-menu"></div>
        <div class="panel-body pn">
            <table class="table table-striped table-hover display" id="datatable6" cellspacing="0" width="100%">
                <thead>
                <tr>
                    <th>Full Names</th>
                    <th>Tel. No.</th>
                    <th>Email</th>
                    <th>User Type</th>
                    <th>Status</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                <repeat group="{{@list }}" value="{{ @user }}">
                    <tr>
                        <td>{{@user->fullnames}}</td>
                        <td>{{@user->telephone}}</td>
                        <td class="sorting_1">{{@user->email}}</td>
                        <td>{{@user->type->title}}</td>
                        <td><input type="checkbox" class="icheck" disabled="disabled" {{@user->active?'checked="checked"':''}}/></td>
                        <td><a href="/users/edit/{{@user->id}}"><i
                                class="fa fa-fw fa-pencil"></i></a> <span></span> <input type="checkbox" class="icheck deletables" name="deletables[]" data-id="{{@user->id}}"/></td>
                    </tr>
                </repeat>
                </tbody>
                <tfoot>
                <tr>
                    <th>Full Names</th>
                    <th>Tel. No.</th>
                    <th>Email</th>
                    <th>User Type</th>
                    <th>Status</th>
                    <th>Actions</th>
                </tr>
                </tfoot>
            </table>

        </div>
    </div>
</div>
<div class="col-md-2 text-center">
    <a href="/users/add" class="btn btn-default btn-sm light fw600 ml10">
        <span class="fa fa-plus pr5"></span> Add {{'User' | customlang}} </a>
</div>

