<div class="alert alert-system alert-dismissable mb30">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
    <h3 class="mt5">Approve This {{'Quotation' | customlang }}?</h3>
    <p><i class="fa fa-user"></i> Ensure The Client Details ({{@quotation->opportunity->contact->fullnames}}) are Ok.</p><br/>
    <p><i class="fa fa-money"></i> Confirm This Payment Plan<br/>
        <table class="table table-condensed">
    <tr>
        <th class="">Date</th>
        <th class="">Amount</th>
        <th class="">Description</th>
    </tr>
        <repeat group="{{@quotation->paymentPlan}}" value="{{@payment}}">
            <tr>
                <td class="text-left">{{@payment->datedue}}</td>
                <td class="">{{@payment->amount | currency }}</td>
                <td class="">{{@payment->description}}</td>
            </tr>
        </repeat>
        </table>
    </p>
    <br/>
    <p><i class="fa fa-check-square-o"></i> Ensure The {{'Products'| customlang}} details are OK </p>
    <br>
    <p>
        <form action="/opportunity/{{@quotation->opportunity->id}}/quotations/approve/{{@quotation->id}}" method="post">
            <input type="hidden" name="approveKey"/>
            <button class="btn btn-success" type="submit"><i class="fa fa-check"></i> Approve</button>
            <a class="btn btn-primary" href="/opportunity/{{@quotation->opportunity->id}}/quotations/edit/{{@quotation->id}}">Edit</a>
            <a class="btn btn-system" href="/leads/view/{{@quotation->opportunity->lead->id}}">Cancel</a>

</form>
            </p>
</div>
<include href="/quotations/view.html"/>