<!-- Contact Form Popup -->
<div id="quotation-form" class="popup popup-basic popup-xl">
    <div class="panel">
        <div class="panel-heading">
            <span class="panel-title">
                <i class="fa fa-building"></i>{{@page.title}}
            </span>
        </div>
        <!-- end .panel-heading section -->

        <form id="quote-form" method="post" action="{{@form.action}}">
            <div class="panel-body p25">

                <div class="section">
                    <div class="form-group col-md-4">
                        <label for="contact" class="control-label">Contact</label>
                        <div class="bs-component">
                            <select id="contact" name="quotation[contact]" class="select2-single form-control" group="{{@contacts}}">
                            </select>
                        </div>
                    </div>
                    <div class="form-group col-md-4">
                        <label for="email" class="control-label">Email</label>
                        <div class="bs-component">
                            <input type="text" name="contact[email]" id="email" class="form-control" required/>
                        </div>
                    </div>
                    <div class="form-group col-md-4">
                        <label for="telephone" class="control-label">Tel</label>
                        <div class="bs-component">
                            <input type="text" name="contact[telephone]" id="telephone" class="form-control" required/>
                        </div>
                    </div>

                    <div class="form-group col-md-6">
                        <label for="postaladdress" class="control-label">Postal Address</label>
                        <div class="bs-component">
                            <textarea  name="contact[postalAddress]" id="postaladdress" class="form-control">{{@@POST.contact.postalAddress}}</textarea>
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="physicaladdress" class="control-label">Physical Address</label>
                        <div class="bs-component">
                            <textarea  name="contact[physicalAddress]" id="physicaladdress" class="form-control">{{@@POST.contact.physicalAddress}}</textarea>
                        </div>
                    </div>
                    <div class="section col-md-12">
                        <div class="panel">
                            <div class="panel-heading">
                                <span class="panel-title">
                                    <i class="fa fa-building"></i>Choose {{'Products' | customlang}}
                                </span>
                            </div>
                            <div class="panel-body">
                                <table class="table">
                                    <thead>
                                    <tr class="bg-light">
                                        <th class="text-center">Select</th>
                                        <th class="">{{'Product Title'| customlang}}</th>
                                        <th class="">Unit</th>
                                        <th class="">Price</th>
                                        <th class="text-right">Qty</th>

                                    </tr>
                                    </thead>
                                    <tbody>
                                    <repeat group="{{@opportunity->products}}" value="{{@product}}">
                                        <tr>
                                            <td class="text-center">
                                                <label class="option block mn">
                                                    <input {{@opportunity->organisation->settings['products']=='single'?'type="radio"':'type="checkbox"'}} class="productscheck" name="quotation[product][{{@product->id}}][state]" data-amount="{{@product->price}}" value="{{@product->id}}"/>
                                                    <span class="checkbox mn"></span>
                                                </label>
                                            </td>
                                            <td class="">{{@product->title}}</td>
                                            <td class="">{{@product->unit}}</td>
                                            <td class="">{{@product->price | currency}}</td>
                                            <td class="text-right input-xs qty col-xs-1">
                                                <input type="number" {{@opportunity->organisation->settings['qty']=='no'?'readonly':''}} class="qtycheck form-control" name="quotation[product][{{@product->id}}][qty]" value="1">
                                            </td>
                                        </tr>
                                    </repeat>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="section col-md-12">
                        <div class="panel">
                            <div class="panel-heading">
                                <check if="{{@opportunity->organisation->settings['payment'] == 'multiple'}}">
                                    <true>
                                        <i class="fa fa-building"></i>{{'Payment Plan'| customlang}} <i>Press CTRL + A To add new Plan</i>
                                    </true>
                                    <false>
                                        <i class="fa fa-money"></i>{{'Payment'| customlang}} <i>Enter {{'Quotation'| customlang}} Payment Details</i>
                                    </false>

                                </check>
                                <span class="pull-right">
                                    <check if="{{@opportunity->organisation->settings['payment'] == 'multiple'}}">
                                        <true>
                                            <a class="add-payment-plan" href="#" >
                                                <i class="fa fa-plus"></i> Add
                                            </a>
                                        </true>

                                    </check>

                                </span>
                            </div>
                            <div class="panel-body">
                                <div class="payment-removable">
                                    <repeat group="{{@quotation->paymentPlan}}" value="{{@payment}}">
                                        <div class="row single-payable">
                                        <div class="form-group col-sm-4">
                                            <label class="control-label">Amount</label>
                                            <div class="bs-component input-group">
                                                <span class="input-group-addon remover">
                                                     <i class="fa fa-close cursor"></i>
                                                </span>
                                                <input name="paymentplan[amount][]" class="form-control amount" value="{{@payment->amount | currency}}" required />
                                            </div>
                                        </div>
                                        <div class="form-group col-sm-4">
                                            <label for="dop" class="control-label">Date of Payment</label>
                                            <div class="bs-component">
                                                <div class="input-group date" id="dop">
                                                <span class="input-group-addon cursor">
                                                     <i class="fa fa-calendar"></i>
                                                </span>
                                                    <input type="text" name="paymentplan[datedue][]" class="form-control" value="{{@payment->datedue}}" style="background-color: #fff !important; cursor: text !important;"/>
                                                </div>

                                            </div>

                                        </div>
                                        <div class="form-group col-sm-4">
                                            <label class="control-label">Description</label>
                                            <div class="bs-component">
                                                <input name="paymentplan[description][]" class="form-control" value="{{@payment->description}}"/>
                                            </div>
                                        </div>
                                    </div>
                                    </repeat>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end section -->

            </div>
            <!-- end .form-body section -->

            <div class="panel-footer">
                <button type="submit" class="btn btn-sm btn-upload quote-generate" disabled><i class="fa fa-shopping-cart"></i> Generate</button>
                <span class="btn btn-sm btn-warning pull-right ">Current Value: <span class="total">0</span></span>
                <span class="btn btn-sm btn-primary pull-right">Expected Value: <span class="expected">0</span></span>
            </div>
            <!-- end .form-footer section -->
        </form>
    </div>
    <!-- end: .panel -->
</div>

<div id="quote-results" class="col-md-3">

</div>
<!-- end: .contact-form -->
<script>
    $(function() {
        var hasSale = {{@quotation->sale?'true':'false'}};
        if(hasSale){
            //$("#quote-form :input").attr("disabled", true);
            //alert("This {{'Quotation'| customlang}} is already approved and hence not editable")
        }


        $('input.amount').on('keyup',function () {
            calculateTotal();
        });
        $('input.qtycheck').on('change',function () {
            calculateTotal();
        });
        $('input.productscheck').on('change',function () {
            calculateTotal();
        });
        $('span.remover').on('click',function () {
            $(this).closest('div.single-payable').remove();
        });
        $('select#contact').on('change', function(){
            var $form = $('form#quote-form');
            $("form#quote-form :input").attr("disabled", true);
            $.get( "contacts/view/"+ $(this).val(), function(data) {
                $form.populate(data);
                $("form#quote-form :input").attr("disabled", false);
            });
        })
        $('input.amount').keyup(function(event) {

            // skip for arrow keys
            if(event.which >= 37 && event.which <= 40) return;

            // format number
            $(this).val(function(index, value) {
                return value
                        .replace(/\D/g, "")
                        .replace(/\B(?=(\d{3})+(?!\d))/g, ",")
                        ;
            });
        });

    });
</script>


