<div class="col-md-12">
    <div class="panel panel-visible" id="spy4">
        <div class="panel-heading">
            <div class="panel-title">
                <span class="glyphicon glyphicon-tasks"></span>{{@page.title}}</div>
        </div>
        <div class="panel-menu text-right">
            <a href="/quotations/quick" class="btn btn-info btn-sm text-center">
                <span class="fa fa-plus pr5"></span> Quick Create</a>
        </div>
        <div class="panel-body pn">
            <table class="table table-striped table-hover display" id="datatable" cellspacing="0" width="100%">
                <thead>
                <tr>
                    <th>Contact Name</th>
                    <th>Status</th>
                    <th>{{'Opportunity Type'| customlang}}</th>
                    <th>Value</th>
                    <th>Assignee</th>
                    <th>Created</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                <repeat group="{{@list}}" value="{{@quotation}}">
                    <tr>
                        <td>{{@quotation->opportunity->contact->fullnames}}</td>
                        <td>{{@quotation->opportunity->status->title}}</td>
                        <td>{{@quotation->opportunity->producttype->title}}</td>
                        <td>{{@@quotation->amount | currency}}</td>
                        <td>{{@@quotation->opportunity->assignee->fullnames}}</td>
                        <td><time class="cw-relative-date" datetime="{{@@quotation->opportunity->datecreated}}"></time></td>
                        <td>
                            <a data-toggle="tooltip" data-title="View {{'Quotation'| customlang}}" class="iconLink" href="/opportunity/{{@quotation->opportunity->id}}/quotations/view/{{@quotation->id}}"><i class="fa fa-search-plus"></i> View</a> |
                            <a data-toggle="tooltip" data-type="Quotation" data-title="Delete {{'Quotation'| customlang}}" class="delete iconLink" href="/opportunity/{{@quotation->opportunity->id}}/quotations/delete/{{@quotation->id}}"><i class="fa fa-remove"></i> Delete</a>
                        </td>
                    </tr>
                </repeat>


                </tbody>
            </table>
        </div>
    </div>
</div>

