<link href="https://cdnjs.cloudflare.com/ajax/libs/angular-xeditable/0.1.12/css/xeditable.min.css" rel="stylesheet" type="text/css"/>

<section id="quotation">

    <div class="panel invoice-panel" ng-controller="QuoteController">
        <div class="panel-heading no-print">
            <span class="panel-title">
              <span class="glyphicon glyphicon-print "></span> Quotation</span>
            <div class="panel-header-menu pull-right mr10">
            </div>
        </div>
        <div class="panel-body p20" id="invoice-item">
            <div class="row mb30">

                <div class="col-xs-6"> <img src="{{@ORGANISATION->logo?'/files/'.@ORGANISATION->logo:'/files/Sales%20Ant%20Logo%202.png'}}" class="img-responsive mt10 mw400" alt="AdminDesigns"> </div>

                <div class="col-xs-6">
                    <div class="pull-right text-right">
                        <h3>{{ @ORGANISATION->name}}</h3>
                        <h4 editable-text="quotation.title">{% quotation.title || "QUOTATION" %}</h4>
                        <h5> Sales Rep:
                            <b class="text-primary">{{ @USER->fullnames}}</b>
                        </h5>
                        <h6 editable-bsdate="quotation.date">{% quotation.date | date:'yyyy-MM-dd' %} </h6>
                    </div>
                </div>
            </div>
            <div class="row" id="invoice-info">
                <div class="col-xs-6">
                    <div class="panel panel-alt">
                        <div class="panel-heading">
                    <span class="panel-title">
                      <i class="fa fa-user"></i> Bill To: </span>
                            <div class="panel-btns pull-right ml10">
                            </div>
                        </div>
                        <div class="panel-body">
                            <address>

                                <strong editable-text="client.name">{% client.name || "Client Name" %}</strong>
                                <br><strong editable-text="client.email">{% client.email || "Client Email" %}</strong>
                                <br> <span editable-text="client.address">{% client.address || "Client Address" %}</span>
                                <span editable-text="client.country">{% client.country || "Client Country" %}</span>
                                <br>
                                <span title="Phone">P:</span><span editable-text="client.tel">{% client.tel || "Client Telephone" %}</span>
                            </address>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6">
                    <div class="panel panel-alt">
                        <div class="panel-heading">
                    <span class="panel-title">
                      <i class="fa fa-info"></i> Quotation Details: </span>
                            <div class="panel-btns pull-right ml10"> </div>
                        </div>
                        <div class="panel-body">
                            <ul class="list-unstyled">
                                <li>
                                    <b>Quotation #:</b> {% quotation.id || '(Save Quotation To Generate)' %} </li>
                                <li>
                                    <b>Quotation Date:</b> {% quotation.date | date:'yyyy-MM-dd' %}</li>
                                <li>
                                    <b>Due Date:</b> <span editable-bsdate="quotation.due">{% quotation.due | date:'yyyy-MM-dd' %}</span></li>
                                <li>
                                    <b>Terms:</b> <span editable-text="quotation.terms">{% quotation.terms || "Payable in 30 Days" %}</span></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" id="invoice-table">
                <div class="col-md-12">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Item</th>
                            <th>Description</th>
                            <th style="width: 135px;">Qty</th>
                            <th>Rate</th>
                            <th class="text-right pr10">Price</th>
                            <th class="no-print"></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="product in quotation.products">
                            <td>
                                <b>{% $index + 1 %}</b>
                            </td>
                            <td> <a editable-text="product.name" onaftersave="updateDetails($index)" e-uib-typeahead="product.title for product in products | filter:$viewValue | limitTo:8">{% product.name || "Sample Product" %}</a> </td>
                            <td> <span editable-text="product.desc">{% product.desc %}</span></td>
                            <td><span editable-number="product.qty" e-min="1">{% product.qty %}</span></td>
                            <td>{% currency %}<span editable-text="product.rate">{% product.rate | number:2 %}</span></td>
                            <td class="text-right pr10">{% currency %}{% product.subtotal() | number:2 %}</td>
                            <td class="no-print text-right"><a href="" ng-click="removeByIndex($index)" data-toggle="tooltip" title="Remove {{'Product' | customlang}}"><i class="fa fa-remove"></i></a> </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <br/>
            <button class="no-print text-left btn btn-success btn-xs" ng-click="addNew()" data-toggle="tooltip" title="Add {{'Product' | customlang}}"><i class="fa fa-plus-circle"></i> Add {{'Product' | customlang}} </button>
            <div class="row" id="invoice-footer">
                <div class="col-md-12">
                    <div class="pull-right">
                        <table class="table" id="invoice-summary">
                            <thead>
                            <tr>
                                <th>
                                    <b>Sub Total:</b>
                                </th>
                                <th class="text-right">{% currency %}{% total() | number:2 %}</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>
                                    <b>VAT(<span editable-number="quotation.vat">{% quotation.vat %}</span>%)</b>
                                </td>
                                <td class="text-right">(+){% (quotation.vat/100) * total() | number:2 %} </td>
                            </tr>
                            <tr>
                                <td>
                                    <b>Total</b>
                                </td>
                                <td>{% currency %} {% (quotation.vat/100) * total() + total() | number:2 %}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="clearfix"></div>
                    <div class="row">
                        <div class="panel panel-alt col-xs-6">
                            <div class="panel-body">
                                <a href="#" editable-textarea="quotation.desc" e-rows="7" e-cols="40">
                                    {% quotation.desc || 'Custom Message' %}
                                </a>
                            </div>
                        </div>
                        <div class="panel panel-alt col-xs-6">
                            <div class="panel-body">
                                <a href="#" editable-text="organisation.contactPerson">
                                    {% organisation.contactPerson || 'Contact Person' %}
                                </a>
                                <br/>
                                <a href="#" editable-text="organisation.tel">
                                    {% organisation.tel || 'Contact Tel' %}
                                </a>
                                <br/>
                                <a href="#" editable-text="organisation.email">
                                    {% organisation.email || 'Organisation Email' %}
                                </a>
                                <br/>
                                <a href="#" editable-text="organisation.website">
                                    {% organisation.website || 'Website' %}
                                </a>
                                <br/>
                                {{ @ORGANISATION->physicalAddress | raw}}

                            </div>
                        </div>
                    </div>

                    <div class="invoice-buttons no-print">
                        <button ng-show="saved" ng-click="print()" class="btn btn-default mr10">
                            <i class="fa fa-print pr5"></i> Print Quotation</button>
                        <button ng-hide="saved" ng-click="saveQuotation()" class="btn btn-primary btn-gradient" type="button">
                            <i class="fa {% save.icon %} pr5"></i> Save Quotation To print</button>
                    </div>
                </div>
            </div>

        </div>
    </div>

</section>

<script>
    $(function(){
        var jq = $.noConflict();
        var app = angular.module("app", ["xeditable", "ui.bootstrap"]).config(function($interpolateProvider){
            $interpolateProvider.startSymbol('{%').endSymbol('%}');
        });
        app.run(function(editableOptions) {
            editableOptions.theme = 'bs3'; // bootstrap3 theme. Can be also 'bs2', 'default'
        });
        app.controller('QuoteController', function($scope,$http, $sce) {
            $scope.products = {{json_encode(@products)}};
            $scope.save = {
                icon: "fa-floppy-o"
            }
            $scope.client = {
                name: 'Client Name',
                tel: '+25470011000',
                email: 'sample@email.com',
                address: '12345-01000 Nairobi',
                country: 'Kenya',
            };
            var date =  new Date();
            var day = date.getDate();
            var monthIndex = date.getMonth();
            var year = date.getFullYear();
            $scope.quotation = {
                id : null,
                title : 'QUOTATION',
                date: date,
                due: date,
                desc: 'Thank you for your business.',
                terms: "Payable in 30 Days",
                vat: 16,
                products: [
                    {
                        id: null,
                        name:null,
                        desc:"Sample Description",
                        sku: "None",
                        qty: 1,
                        rate: 200,
                        subtotal : function(){
                            return this.qty * this.rate;
                        }
                    }
                ]


            };
            $scope.updateDetails = function(index) {
                var keepGoing = true;
                $scope.quotation.products[index].id = null;
                angular.forEach($scope.products, function(value, key) {
                    if (value.title == $scope.quotation.products[index].name && keepGoing ){

                        $scope.quotation.products[index].name = value.title;
                        $scope.quotation.products[index].id = value._id;
                        $scope.quotation.products[index].rate = value.price;
                        $scope.quotation.products[index].sku = value.sku;
                        $scope.quotation.products[index].desc = value.description;

                        keepGoing = false
                    }


                });

            };

            $scope.organisation = {
                physicalAddress : $sce.trustAsHtml('{{preg_replace( "/\r|\n/", "", @ORGANISATION->physicalAddress)}}'),
                postalAddress: "{{@ORGANISATION->postalAddress}}",
                email: "{{@ORGANISATION->email}}",
                tel: "{{@ORGANISATION->telephone}}",
                website: "{{@ORGANISATION->website}}",
                contact: "{{@ORGANISATION->contactPerson->fullnames}}",

            }
            $scope.currency = "Ksh ";

            $scope.removeByIndex = function(index){
                alert($scope.quotation.products);
                $scope.quotation.products.splice(index,1);
                if($scope.quotation.products == '')
                    $scope.addNew();
            };
            $scope.addNew = function(){
                $scope.quotation.products.push(
                        {   id: null,
                            name:null,
                            desc:"Sample Description",
                            sku: "None",
                            qty: 1,
                            rate: 200,
                            subtotal : function(){
                                return this.qty * this.rate;
                            }
                        });

            };
            $scope.total = function(){
                var total = 0
                angular.forEach($scope.quotation.products, function(value, key) {
                    total = total + value.subtotal();
                });
                return total;
            };
            $scope.saved = false;
            $scope.saveQuotation = function(){
                jq.magnificPopup.open({
                    items: {
                        src: '<div class="white-popup"><i class="fa fa-spinner fa-spin"></i> Processing</div>', // can be a HTML string, jQuery object, or CSS selector
                        type: 'inline'
                    },
                    showCloseBtn: false,
                    enableEscapeKey: false,
                    closeOnBgClick: false
                });
                var data = {
                        client: $scope.client,
                        quotation: $scope.quotation
                    }

                $http({
                    method: 'POST',
                    url: '/quotations/push',
                    data: data
                }).then(function successCallback(response) {
                    if(response.data){
                        angular.forEach(response.data.quotation.products,function(value, key){
                            response.data.quotation.products[key].subtotal = function(){
                                return this.qty * this.rate;
                            }
                        })
                        jq.extend($scope, response.data);
                    }

                    $scope.saved = true; //Server should not send back success if failed.
                    jq.magnificPopup.close();
                }, function errorCallback(response) {
                    jq.magnificPopup.close();
                    jq.magnificPopup.open({
                        items: {
                            src: '<div class="white-popup"style="color: red"><i class="fa fa-remove"></i> Internal Server Error. Please try Again</div>', // can be a HTML string, jQuery object, or CSS selector
                            type: 'inline'
                        },
                    });
                    $scope.saved = false;
                });



            }
            $scope.$watch('client', function() {
                $scope.saved = false;
            },true);
            $scope.$watch('quotation', function() {
                $scope.saved = false;
            },true);
            $scope.print = function() {
                jq("#quotation").print({
                    addGlobalStyles: true,
                    stylesheet: '/public/assets/skin/default_skin/css/print.css',
                    rejectWindow: true,
                    noPrintSelector: ".no-print",
                    iframe: true,
                    append: null,
                    prepend: null
                });
            };


        });

    })

</script>