<div class="alert alert-danger alert-dismissable mb30">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
    <h3 class="mt5">Reject This {{'Quotation' | customlang }}?</h3>
    <p>
        <a class="btn btn-warning" href="#"><i class="fa fa-times"></i> Reject</a>
        <a class="btn btn-primary" href="/opportunity/{{@quotation->opportunity->id}}/quotations/edit/{{@quotation->id}}">Edit</a>
        <a class="btn btn-system" href="/leads/view/{{@quotation->opportunity->lead->id}}">Cancel</a>
    </p>
</div>
<include href="/quotations/view.html"/>