<div class="row">
    <form class="{{@form.action}}" method="get">
    <div class="panel ">
        <div class="panel-heading">
            <div class="panel-title hidden-xs">
                <span class="glyphicon glyphicon-tasks"></span>{{'Sort' | customlang}}</div>
        </div>
        <div class="panel-body">
            <include href="/general/timespan.html"/>
            <div class="col-md-3">
                <div class="form-group">
                    <label for="opportunity_type" class="control-label">{{'Opportunity Type' | customlang}}</label>
                    <div class="bs-component">
                        <select id="opportunity_type" name="productType" class="select2-single form-control" group="{{@producttypes}}">
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label class="control-label"></label>
                    <div class="bs-component">
                        <button class="btn btn-warning pull-right col-md-12" type="submit">Process</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </form>
</div>
<div class="row">
    <div class="col-md-3">
        <div class="panel">
            <div class="panel-heading">
                <div class="panel-title hidden-xs">
                    <span class="glyphicon glyphicon-copy"></span>{{'Opportunities' | customlang}} Created</div>
            </div>
            <div class="panel-body pn" id="opportunityCreated" style="height: 200px">

            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="panel">
            <div class="panel-heading">
                <div class="panel-title hidden-xs">
                    <span class="glyphicon glyphicon-copy"></span>{{'Quotations' | customlang}} Created</div>
            </div>
            <div class="panel-body pn" id="quotationsCreated" style="height: 200px">

            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="panel">
            <div class="panel-heading">
                <div class="panel-title hidden-xs">
                    <span class="glyphicon glyphicon-copy"></span>{{'Quotations' | customlang}} Value</div>
            </div>
            <div class="panel-body pn" id="quotationsValue" style="height: 200px">

            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="panel">
            <div class="panel-heading">
                <div class="panel-title hidden-xs">
                    <span class="glyphicon glyphicon-copy"></span>{{'Opportunities' | customlang}} Value</div>
            </div>
            <div class="panel-body pn" id="opportunitiesValue" style="height: 200px">

            </div>
        </div>
    </div>

</div>
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-visible" id="spy4">
            <div class="panel-heading">
                <div class="panel-title hidden-xs">
                    <span class="glyphicon glyphicon-tasks"></span>{{'Opportunities' | customlang}} Report</div>
            </div>
            <div class="panel-menu"></div>
            <div class="panel-body pn">
                <table class="table table-striped table-hover display" id="datatable6" cellspacing="0" width="100%">
                    <thead>
                    <tr>
                        <th>Sales Person</th>
                        <th>Leads</th>
                        <th>{{'Quotations' | customlang}}</th>
                        <th>{{'Quotations' | customlang}} Value</th>
                        <th>{{'Opportunities' | customlang}}</th>
                        <th class="sorting_1">{{'Opportunities' | customlang}} Value</th>
                    </tr>
                    </thead>
                    <tbody>
                    <set totalleads="0"/>
                    <set totalquotations="0"/>
                    <set totalopportunities="0"/>
                    <set totalquotationvalues="0"/>
                    <set totalopportunitiesvalues="0"/>
                    <repeat group="{{@salespersons}}" value="{{@user}}">
                        <tr>
                            <td>{{@user->fullnames}}</td>
                            <td>{{@user->reportmyleads?count(@user->reportmyleads):0}}<set totalleads="{{@totaleads += @user->reportmyleads?count(@user->reportmyleads):0}}"/></td>
                            <td>{{@user->reportmyquotations?count(@user->reportmyquotations):0}}<set @totalquotations="{{@totalquotations += @user->reportmyquotations?count(@user->reportmyquotations):0}}"/></td>
                            <td>{{@user->reportmyquotationsvalue | currency }}<set totalquotationvalues="{{@totalquotationvalues +=@user->reportmyquotationsvalue}}"/></td>
                            <td>{{@user->reportmyopportunities?count(@user->reportmyopportunities):0}}<set totalopportunities="{{@totalopportunities += @user->reportmyopportunities?count(@user->reportmyopportunities):0}}"/></td>
                            <td>{{@user->reportmyopportunitiesvalue | currency }}<set totalopportunitiesvalues="{{ @totalopportunitiesvalues +=@user->reportmyopportunitiesvalue}}"/></td>
                        </tr>
                    </repeat>


                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-2 text-center">
        <div class="panel panel-tile text-center">
            <div class="panel-body bg-info">
                <h2 class="fs25 mbn">{{@totalleads}}</h2>
                <h6 class="text-white">Total {{'Leads' | customlang}}(s)</h6>
            </div>
            <div class="panel-footer br-n p12">
    <span class="fs11">
      <i class="fa fa-arrow-up text-info pr5"></i>
      <b></b>
    </span>
            </div>
        </div>
    </div>
    <div class="col-md-2 text-center">
        <div class="panel panel-tile text-center">
            <div class="panel-body bg-info">
                <h2 class="fs25 mbn">{{@totalquotations}}</h2>
                <h6 class="text-white">Total {{'Quotation' | customlang}}(s)</h6>
            </div>
            <div class="panel-footer br-n p12">
    <span class="fs11">
      <i class="fa fa-arrow-up text-info pr5"></i>
      <b></b>
    </span>
            </div>
        </div>
    </div>
    <div class="col-md-2 text-center">
        <div class="panel panel-tile text-center">
            <div class="panel-body bg-info">
                <h2 class="fs25 mbn">{{@totalopportunities}}</h2>
                <h6 class="text-white">Total {{'Opportunity' | customlang}}(s)</h6>
            </div>
            <div class="panel-footer br-n p12">
    <span class="fs11">
      <i class="fa fa-arrow-up text-info pr5"></i>
      <b></b>
    </span>
            </div>
        </div>
    </div>
    <div class="col-md-3 text-center">
        <div class="panel panel-tile text-center">
            <div class="panel-body bg-info">
                <h2 class="fs25 mbn">{{@totalopportunitiesvalues | currency}}</h2>
                <h6 class="text-white">Total {{'Opportunity' | customlang}}(s) Value</h6>
            </div>
            <div class="panel-footer br-n p12">
    <span class="fs11">
      <i class="fa fa-arrow-up text-info pr5"></i>
      <b></b>
    </span>
            </div>
        </div>
    </div>
    <div class="col-md-3 text-center">
        <div class="panel panel-tile text-center">
            <div class="panel-body bg-info">
                <h2 class="fs25 mbn">{{@totalquotationvalues | currency}}</h2>
                <h6 class="text-white">Total {{'Quotations' | customlang}}(s) Value</h6>
            </div>
            <div class="panel-footer br-n p12">
    <span class="fs11">
      <i class="fa fa-arrow-up text-info pr5"></i>
      <b></b>
    </span>
            </div>
        </div>
    </div>
</div>
<script>
    var opportunityCreated = [
            <repeat group="{{@salespersons}}" value="{{@user}}">
        { label: "{{@user->firstname}} : {{@user->reportmyopportunities?count(@user->reportmyopportunities):0}}",  data: {{@user->reportmyopportunities?count(@user->reportmyopportunities):0}}},
            </repeat>
    ];
    var quotationsCreated = [
            <repeat group="{{@salespersons}}" value="{{@user}}">
        { label: "{{@user->firstname}} : {{@user->reportmyquotations?count(@user->reportmyquotations):0}}",  data: {{@user->reportmyquotations?count(@user->reportmyquotations):0}}},
            </repeat>
    ];
    var quotationsValue = [
            <repeat group="{{@salespersons}}" value="{{@user}}">
        { label: "{{@user->firstname}} : {{@user->reportmyquotationsvalue | currency}}",  data: {{@user->reportmyquotationsvalue }}},
            </repeat>
    ];
    var opportunitiesValue = [
            <repeat group="{{@salespersons}}" value="{{@user}}">
        { label: "{{@user->firstname}} : {{@user->reportmyopportunitiesvalue | currency}}",  data: {{@user->reportmyopportunitiesvalue }}},
            </repeat>
    ];
</script>

<script>
    $(function(){

        $.plot('#opportunityCreated', opportunityCreated, {
            series: {
                pie: {
                    show: true,
                    radius: 1,
                }
            },
            legend: {
                show: true
            }
        });
        $.plot('#quotationsCreated', quotationsCreated, {
            series: {
                pie: {
                    show: true,
                    radius: 1,
                }
            },
            legend: {
                show: true
            }
        });
        $.plot('#quotationsValue', quotationsValue, {
            series: {
                pie: {
                    show: true,
                    radius: 1,
                }
            },
            legend: {
                show: true
            }
        });
        $.plot('#opportunitiesValue', opportunitiesValue, {
            series: {
                pie: {
                    show: true,
                    radius: 1,
                }
            },
            legend: {
                show: true
            }
        });
    })
</script>

