
<!DOCTYPE html>
<html>

<head>
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <title>My SalesAnt Account</title>
    <meta name="description" content="My SalesAnt Account">
    <meta name="author" content="@rontonom">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Font CSS (Via CDN) -->
    <link rel='stylesheet' type='text/css' href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700'>

    <!-- Theme CSS -->
    <link rel="stylesheet" type="text/css" href="/public/assets/skin/default_skin/css/theme.css">

    <!-- Admin Forms CSS -->
    <link rel="stylesheet" type="text/css" href="/public/assets/admin-tools/admin-forms/css/admin-forms.css">

    <!-- Favicon -->
    <link rel="shortcut icon" href="/public/assets/img/favicon.png">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
</head>

<body class="external-page sb-l-c sb-r-c" style="height: 100%">

<!-- Start: Main -->
<div id="main" class="animated fadeIn">

    <!-- Start: Content-Wrapper -->
    <section id="content_wrapper">

        <!-- begin canvas animation bg -->
        <div id="canvas-wrapper">
            <canvas id="demo-canvas"></canvas>
        </div>

        <!-- Begin: Content -->
        <section id="content">

            <div class="admin-form theme-info" id="login1">

                <div class="row mb15 table-layout">

                    <div class="col-xs-6 va-m pln">
                        <a href="http://www.salesant.com" title="Return to Home">
                            <img src="/public/assets/img/logos/salesant-logo-main.png" title="Salesant Logo" class="img-responsive w250">
                        </a>
                    </div>

                    <div class="col-xs-6 text-right va-b pr5">
                        <div class="login-links">
                            <a href="/auth/login" class="active" title="Sign In">Sign In</a>
                            <span class="text-white"> | </span>
                            <a href="/auth/register" class="" title="Register">Register</a>
                        </div>

                    </div>

                </div>

                <div class="panel panel-info mt10 br-n">

                    <div class="panel-heading heading-border bg-white">
                        <div class="col-lg-12">
                            <repeat group="{{ \Flash::instance()->getMessages() }}" value="{{ @msg }}">
                                <div class="alert alert-{{ @msg.status }} alert-dismissable alert-dismiss">
                                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                                    {{ @msg.text | raw }}
                                </div>
                            </repeat>
                        </div>
                    </div>

                    <!-- end .form-header section -->
                    <form method="post" action="#" id="contact">
                        <div class="panel-body bg-light p30">
                            <div class="row">
                                <div class="col-sm-7 pr30">

                                   <div class="section">
                                        <label for="username" class="field-label text-muted fs18 mb10">Email</label>
                                        <label for="username" class="field prepend-icon">
                                            <input type="email" name="email" id="username" class="gui-input" placeholder="Enter Email"/>
                                            <label for="username" class="field-icon">
                                                <i class="fa fa-user"></i>
                                            </label>
                                        </label>
                                    </div>
                                    <!-- end section -->

                                    <div class="section">
                                        <label for="username" class="field-label text-muted fs18 mb10">Password</label>
                                        <label for="password" class="field prepend-icon">
                                            <input type="password" name="password" id="password" class="gui-input" placeholder="Enter password"/>
                                            <label for="password" class="field-icon">
                                                <i class="fa fa-lock"></i>
                                            </label>
                                        </label>
                                    </div>
                                    <!-- end section -->

                                </div>
                                <div class="col-sm-5 br-l br-grey pl30">
                                    <h3 class="mb25"> You'll Have Access To Your:</h3>
                                    <p class="mb15">
                                        <span class="fa fa-check text-success pr5"></span> Organisations</p>
                                    <p class="mb15">
                                        <span class="fa fa-check text-success pr5"></span> Billing</p>
                                    <p class="mb15">
                                        <span class="fa fa-check text-success pr5"></span> Account Settings</p>
                                    <p class="mb15">
                                        <span class="fa fa-check text-success pr5"></span> Salesant Support Center</p>
                                </div>
                            </div>
                        </div>
                        <!-- end .form-body section -->
                        <div class="panel-footer clearfix p10 ph15">
                            <button type="submit" class="button btn-primary mr10 pull-right">Sign In</button>
                            <label class="switch ib switch-primary pull-left input-align mt10">
                                <input type="checkbox" name="remember" id="remember" checked/>
                                <label for="remember" data-on="YES" data-off="NO"></label>
                                <span>Remember me</span>
                            </label>
                        </div>
                        <!-- end .form-footer section -->
                    </form>
                </div>
            </div>

        </section>
        <!-- End: Content -->

    </section>
    <!-- End: Content-Wrapper -->

</div>
<!-- End: Main -->

<!-- BEGIN: PAGE SCRIPTS -->

<!-- jQuery -->
<script src="/public/vendor/jquery/jquery-1.11.1.min.js"></script>
<script src="/public/vendor/jquery/jquery_ui/jquery-ui.min.js"></script>

<!-- CanvasBG Plugin(creates mousehover effect) -->
<script src="/public/vendor/plugins/canvasbg/canvasbg.js"></script>

<!-- Theme Javascript -->
<script src="/public/assets/js/utility/utility.js"></script>
<script src="/public/assets/js/demo/demo.js"></script>
<script src="/public/assets/js/account.js"></script>

<!-- Page Javascript -->
<script type="text/javascript">
    jQuery(document).ready(function() {

        "use strict";

        // Init Theme Core
        Core.init();



        // Init CanvasBG and pass target starting location
        CanvasBG.init({
            Loc: {
                x: window.innerWidth / 2,
                y: window.innerHeight / 3.3
            },
        });

    });
</script>

<!-- END: PAGE SCRIPTS -->

</body>

</html>
