<title>{{@page.title}} | {{@app.title}}</title>
<div class="col-lg-12" style="margin-top: 10px">
    <repeat group="{{ \Flash::instance()->getMessages() }}" value="{{ @msg }}">
        <div class="alert alert-{{ @msg.status?@msg.status:'info' }} alert-dismissable alert-dismiss">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            {{ @msg.text | esc }}
        </div>
    </repeat>
</div>