<!DOCTYPE html>
<html ng-app="app">

<head>
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="UTF-8">
    <title>{{@app.title}} | {{@page.title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <base href="{{@SCHEME.'://'.@HOST.@BASE.'/'}}"/>

    <!-- Font CSS (Via CDN) -->
    <link rel='stylesheet' type='text/css' href='//fonts.googleapis.com/css?family=Open+Sans:300,400,600,700'>

    <!-- Glyphicons Pro CSS(font) -->
    <link rel="stylesheet" type="text/css" href="/public/assets/fonts/glyphicons-pro/glyphicons-pro.css">

    <!-- Vendor CSS -->
    <link rel="stylesheet" type="text/css" href="/public/vendor/plugins/magnific/magnific-popup.css">

    <!-- Datatables CSS -->
    <link rel="stylesheet" type="text/css" href="/public/vendor/plugins/datatables/media/css/dataTables.bootstrap.css">

    <!-- Datatables Addons CSS -->
    <link rel="stylesheet" type="text/css" href="/public/vendor/plugins/datatables/media/css/dataTables.plugins.css">

    <!-- Select2 Plugin CSS  >
    <link rel="stylesheet" type="text/css" href="/public/vendor/plugins/select2/css/core.css"-->

    <!-- Bootstrap Datepicker -->
    <link rel="stylesheet" type="text/css" href="/public/vendor/plugins/datepicker/css/bootstrap-datetimepicker.css">

    <!-- Summernote Plugin CSS  -->
    <link rel="stylesheet" type="text/css" href="/public/vendor/plugins/summernote/summernote.css">

    <!-- Dropzone -->
    <link rel="stylesheet" type="text/css" href="/public/vendor/plugins/dropzone/css/dropzone.css">

    <!-- Tagsinput -->
    <link rel="stylesheet" type="text/css" href="/public/vendor/plugins/tagsinput/tagsinput.css">

    <!-- Theme CSS -->
    <link rel="stylesheet" type="text/css" href="/public/assets/skin/default_skin/css/theme.css">

    <!-- Admin Forms CSS -->
    <link rel="stylesheet" type="text/css" href="/public/assets/admin-tools/admin-forms/css/admin-forms.css">
    <link rel="stylesheet" type="text/css" href="/public/assets/admin-tools/admin-forms/css/jquery-labelauty.css">

    <!-- Custom CSS -->
    <link rel="stylesheet" type="text/css" href="/public/assets/skin/default_skin/css/custom.css">
    <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.1/css/selectize.min.css">
    <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.1/css/selectize.bootstrap3.min.css">
    <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/pace/1.0.2/themes/blue/pace-theme-minimal.css">
    <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-sweetalert/0.4.5/sweet-alert.min.css">

    <!-- Favicon -->
    <link rel="shortcut icon" href="/public/assets/img/favicon.png">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="//oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="//oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <style>
        .white-popup {
            position: relative;
            background: #FFF;
            padding: 20px;
            width: auto;
            max-width: 500px;
            margin: 20px auto;
        }
    </style>
</head>

<body class="sb-l-o sb-r-c">
<script>
    function calculateTotal( ) {
        var sum = 0;
        $('input.amount').each(function( index, elem ) {
            var val = parseFloat($(elem).val().replace(/[^0-9-.]/g, ''));
            if( !isNaN( val ) ) {
                sum += val;
            }
        });
        $('span.total').html(sum.toFixed(2));
        var pay = 0;
        $('input.productscheck').each(function( index, elem ) {
            if($(elem).is(':checked')){
               var qty= $(this).closest('tr').find('input.qtycheck').val();
                var val = parseFloat($(elem).attr('data-amount').replace(/[^0-9-.]/g, ''));
                if( !isNaN( val ) && !isNaN( qty )  ) {
                    pay += val*qty;
                }
            }

        });
        $('span.expected').html(pay.toFixed(2));
        $('button.quote-generate').prop('disabled',true)
        if(pay == sum && pay>0){
            $('button.quote-generate').prop('disabled',false)
        }


    }
</script>

<!-- Start: Main -->
<div id="main">

    <!-- Start: Header -->
    <header class="navbar navbar-fixed-top bg-success">
        <div class="navbar-branding">
            <a class="navbar-brand" href="/">
                <b>Sales</b><i>Ant</i> CRM
            </a>
            <span id="toggle_sidemenu_l" class="ad ad-lines"></span>
        </div>


        <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
                <a class="dropdown-toggle" {{count(@USER->organisations->castAll())>1?'data-toggle="dropdown" href="#"':''}}>
                    <span class="fa fa-dot-circle-o text-danger-darker"></span> {{\Application\Models\Organisation::id(@USER->organisation)->name}}
                </a>
                <ul class="dropdown-menu pv5 animated animated-short flipInX" role="menu">
                    <repeat group="{{@USER->organisations}}" value="{{@organisation}}">
                        <check if="{{@organisation->id == @USER->organisation}}">
                            <false>
                                <li>
                                    <a href="javascript:void(0);" data-organisation="{{@organisation->id}}" class="organisation-switch">
                                        <span class="fa fa-dot-circle-o text-danger mr10"></span> {{@organisation->name}} </a>
                                </li>
                            </false>
                        </check>
                    </repeat>

                </ul>
            </li>


            <li class="menu-divider hidden-xs">
                <i class="fa fa-circle"></i>
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle fw600 p15" data-toggle="dropdown"> <img src="{{@USER->gravatar}}" alt="avatar" class="mw30 br64 mr15">
                    {{@USER->firstname}}
                    <span class="caret caret-tp hidden-xs"></span>
                </a>
                <ul class="dropdown-menu list-group dropdown-persist w250" role="menu">
                    <li class="dropdown-header clearfix">

                        <div class="ml10">
                            <strong>{{@USER->fullnames}}</strong><br/>
                            {{@USER->email}}<br/>
                            {{@USER->telephone}}<br/>
                        </div>

                    </li>
                    <li class="list-group-item">
                        <a href="/account/profile" class="animated animated-short fadeInUp">
                            <span class="fa fa-lightbulb-o"></span> Profile </a>
                    </li>
                    <li class="list-group-item">
                        <a href="/organisations/view/{{@SESSION.organisation}}" class="animated animated-short fadeInUp">
                            <span class="fa fa-gear"></span> Settings </a>

                    </li>
                    <li class="list-group-item">
                        <a href="/organisations" class="animated animated-short fadeInUp">
                            <span class="fa fa-bank"></span> Organisations </a>

                    </li>
                    <li class="list-group-item">

                        <a href="/users" class="animated animated-short fadeInUp">
                            <span class="glyphicons glyphicons-user"></span> Users
                        </a>
                    </li>
                    <li class="list-group-item">
                        <a href="/auth/logout" class="animated animated-short fadeInUp">
                            <span class="fa fa-power-off"></span> Logout </a>
                    </li>
                </ul>
            </li>
        </ul>

    </header>
    <!-- End: Header -->

    <!-- Start: Sidebar -->
    <aside id="sidebar_left" class="nano nano-primary affix">

        <!-- Start: Sidebar Left Content -->
        <div class="sidebar-left-content nano-content">
            <!-- Start: Sidebar Menu -->
            <ul class="nav sidebar-menu">
                <li class="sidebar-label pt20">Menu</li>
                <li data-module="tasks">
                    <a href="/">
                        <span class="fa fa-envelope"></span>
                        <span class="sidebar-title">Dashboard</span>

                    </a>
                </li>
                <li data-module="leads">
                    <a class="accordion-toggle" href="/leads">
                        <span class="glyphicons glyphicons-nameplate"></span>
                        <span class="sidebar-title">Leads</span>
                        <span class="caret"></span>
                    </a>
                        <ul class="nav sub-nav">
                            <li>
                                <a href="/leads"> View Leads</a>
                            </li>
                            <li class="hidden-sm hidden-xs">
                                <a class="ajax-modal" href="/leads/add">Add Lead</a>
                            </li>
                            <li class="hidden-lg hidden-xl hidden-md">
                                <a href="/leads/add">Add Lead</a>
                            </li>
                            <li>
                                <a href="/opportunities">Opportunities</a>
                            </li>

                        </ul>
                </li>
                <li data-module="products">
                    <a class="accordion-toggle" href="/products">
                        <span class="glyphicon glyphicon-tags"></span>
                        <span class="sidebar-title">{{'Products'| customlang}}</span>
                        <span class="caret"></span>
                    </a>
                    <ul class="nav sub-nav">
                        <li>
                            <a href="/products"> View {{'Products'| customlang}}</a>
                        </li>
                        <li class="">
                            <a href="/products/add">Add {{'Products'| customlang}}</a>
                        </li>
                        <li>
                            <a href="/productstatuses">View {{'Products'| customlang}} Statuses</a>
                        </li>
                        <li>
                            <a href="/productstatuses/add">Add {{'Products'| customlang}} Status</a>
                        </li>

                    </ul>
                </li>

                <li data-module="newsletters">
                    <a class="accordion-toggle" href="#">
                        <span class="glyphicons glyphicons-briefcase"></span>
                        <span class="sidebar-title">Bulk Emails</span>
                        <span class="caret"></span>
                    </a>
                    <ul class="nav sub-nav">
                        <li>
                            <a href="/newsletters">
                                {{'Groups'| customlang}}</a>
                        </li>
                        <li>
                            <a href="/newslettertemplates">
                                {{'Templates'| customlang}}</a>
                        </li>
                        <li>
                            <a href="/newsletters/send">
                                {{'Send'| customlang}}</a>
                        </li>

                    </ul>
                </li>
                <li data-module="quotations">
                    <a class="accordion-toggle" href="#">
                        <span class="glyphicon glyphicon-shopping-cart"></span>
                        <span class="sidebar-title">{{'Quotations'| customlang}}</span>
                        <span class="caret"></span>
                    </a>
                    <ul class="nav sub-nav">
                        <li>
                            <a class="no-pjax" href="/quotations/quick">
                                Quick Create</a>
                        </li>
                        <li>
                            <a href="/quotations">
                                {{'Quotations'| customlang}}</a>
                        </li>
                        <li>
                            <a href="/sales">
                                {{'Sales'| customlang}}</a>
                        </li>

                    </ul>
                </li>
                <li>
                    <a class="accordion-toggle" href="#">
                        <span class="fa fa-bar-chart"></span>
                        <span class="sidebar-title">Reporting</span>
                        <span class="caret"></span>
                    </a>
                    <ul class="nav sub-nav">
                                <li>
                                    <a href="/reporting/opportunities">
                                        {{'Projected Sales'| customlang}}</a>
                                </li>
                                <li>
                                    <a href="/reporting/sales">
                                        {{'Sales & Payments'| customlang}}</a>
                                </li>

                    </ul>
                </li>

                <!-- sidebar bullets>
                <li class="sidebar-label pt20">Smart Views</li>
                <li class="sidebar-proj">
                    <a href="#">
                        <span class="fa fa-dot-circle-o text-info"></span>
                        <span class="sidebar-title">Recently Created</span>
                    </a>
                </li>
                <li class="sidebar-proj">
                    <a href="#">
                        <span class="fa fa-dot-circle-o text-info"></span>
                        <span class="sidebar-title">Never Contacted</span>
                    </a>
                </li>
                <repeat group="{{@leadstatuses}}" value="{{@status}}">
                    <li class="sidebar-proj">
                        <a href="/leads/smartview/{{@status->id}}?status={{@status->title}}">
                            <span class="fa fa-dot-circle-o text-info"></span>
                            <span class="sidebar-title">Status: {{@status->title}}</span>
                        </a>
                    </li>
                </repeat>

                <!-- End: Smart Menu -->
            </ul>
            <!-- End: Sidebar Menu -->

            <!-- Start: Sidebar Collapse Button -->
            <div class="sidebar-toggle-mini">
                <a href="#">
                    <span class="fa fa-sign-out"></span>
                </a>
            </div>
            <!-- End: Sidebar Collapse Button -->

        </div>
        <!-- End: Sidebar Left Content -->

    </aside>

    <!-- Start: Content-Wrapper -->
    <section id="content_wrapper">

        <!-- Start: Topbar -->
        <header id="topbar">
            <div class="topbar-left">
                <ol class="breadcrumb">
                    <li class="crumb-active">

                    </li>
                    <li class="crumb-icon">
                        <a href="/">
                            Home
                        </a>
                    </li>
                    <li class="crumb-icon">
                        <a href="">
                            <span id="module">{{ucfirst(@crumb)}}                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                           </span>
                        </a>
                    </li>

                </ol>
            </div>
        </header>
        <!-- End: Topbar -->
        <!-- Begin: Content -->

        <div class="col-lg-12" style="margin-top: 10px">
            <repeat group="{{ \Flash::instance()->getMessages() }}" value="{{ @msg }}">
                <div class="alert alert-{{ @msg.status }} alert-dismissable alert-dismiss">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    {{ @msg.text | esc }}
                </div>
            </repeat>
        </div>
        <div id="content" class="animated fadeIn">

            <include if="{{ @INNER.PAGE }}" href="{{@INNER.PAGE}}" />
        </div>
        <!-- End: Content -->

            
        </section>
</div>

<!-- BEGIN: PAGE SCRIPTS -->
<!-- PACE JS-->
<script src="//cdnjs.cloudflare.com/ajax/libs/pace/1.0.2/pace.min.js"></script>
<!-- jQuery -->
<script src="/public/vendor/jquery/jquery-1.11.1.min.js"></script>
<script src="/public/vendor/jquery/jquery_ui/jquery-ui.min.js"></script>

<!-- Magnific Popup -->
<script src="/public/vendor/plugins/magnific/jquery.magnific-popup.js"></script>

<!-- Datatables -->
<script src="/public/vendor/plugins/datatables/media/js/jquery.dataTables.js"></script>

<!-- Datatables Tabletools addon -->
<script src="/public/vendor/plugins/datatables/extensions/TableTools/js/dataTables.tableTools.min.js"></script>

<!-- Datatables ColReorder addon -->
<script src="/public/vendor/plugins/datatables/extensions/ColReorder/js/dataTables.colReorder.min.js"></script>

<!-- Datatables Bootstrap Modifications  -->
<script src="/public/vendor/plugins/datatables/media/js/dataTables.bootstrap.js"></script>

<!-- Holder js  -->
<script src="/public/vendor/plugins/holder/holder.min.js"></script>

<!-- Select2 Plugin Plugin >
<script src="/public/vendor/plugins/select2/select2.min.js"></script-->

<!-- Time/Date Plugin Dependencies -->
<script src="/public/vendor/plugins/globalize/globalize.min.js"></script>
<script src="/public/vendor/plugins/moment/moment.min.js"></script>

<!-- DateTime Plugin -->
<script src="/public/vendor/plugins/datepicker/js/bootstrap-datetimepicker.js"></script>

<!-- Populate Plugin -->
<script src="/public/vendor/plugins/populate/jquery.populate.pack.js"></script>

<!-- Summernote Plugin -->
<script src="/public/vendor/plugins/summernote/summernote.min.js"></script>

<!-- Drop Zone -->
<script src="/public/vendor/plugins/dropzone/dropzone.min.js"></script>

<!-- Tags Input -->
<script src="/public/vendor/plugins/tagsinput/tagsinput.min.js"></script>
<script id="loginpopup" type="text/template">
    <div class="popup popup-basic">
    <div class="admin-form theme-info mw500 p20" id="login">
            <div class="alert alert-warning alert-dismissable">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                Looks like your session expired. Please Login again
            </div>
        </repeat>

        <!-- Login Panel/Form -->
        <div class="panel mt30 mb25">

            <form action="/auth/login" method="post" accept-charset="utf-8">
                <div class="panel-body bg-light p25 pb15">


                    <!-- Username Input -->
                    <div class="section">
                        <label for="identity" class="field-label text-muted fs18 mb10">Username or Email</label>
                        <label for="identity" class="field prepend-icon">
                            <input type="text" name="email" id="identity" class="gui-input" placeholder="Enter your username or email address"/>
                            <label for="identity" class="field-icon">
                                <i class="fa fa-user"></i>
                            </label>
                        </label>
                    </div>

                    <!-- Password Input -->
                    <div class="section">
                        <label for="password" class="field-label text-muted fs18 mb10">Password</label>
                        <label for="password" class="field prepend-icon">
                            <input type="password" name="password" id="password" class="gui-input" placeholder="Enter password"/>
                            <label for="password" class="field-icon">
                                <i class="fa fa-lock"></i>
                            </label>
                        </label>
                    </div>

                </div>

                <div class="panel-footer clearfix">
                    <button type="submit" class="button btn-primary mr10 pull-right">Sign In</button>
                    <label class="switch ib switch-primary mt10">
                        <input type="checkbox" name="remember_me" id="remember" value='1' checked/>
                        <label for="remember" data-on="YES" data-off="NO"></label>
                        <span>Remember me</span>
                    </label>
                </div>

            </form>

        </div>

        <!-- Registration Links -->
        <div class="login-links">
            <p>
                <a href="/auth/forgot_password" class="active" title="Sign In">Forgot Password?</a>
            </p>

        </div>


    </div>

    </div>
</script>

<!-- Theme Javascript -->
<script src="/public/assets/js/utility/utility.js"></script>
<script src="/public/assets/js/main.js"></script>
<script src="/public/assets/js/jQuery.print.js"></script>
<script src="/public/assets/js/custom.js"></script>
<script src="/public/assets/js/jquery-labelauty.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery.pjax/1.9.6/jquery.pjax.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/garlic.js/1.2.4/garlic.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/mousetrap/1.4.6/mousetrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-sweetalert/0.4.5/sweet-alert.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.1/js/standalone/selectize.min.js"></script>
<script src="/public/vendor/plugins/jqueryflot/jquery.flot.min.js"></script>
<script src="/public/vendor/plugins/jqueryflot/jquery.flot.pie.min.js"></script>
<script src="/public/vendor/plugins/typeahead/typeahead.bundle.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/parsley.js/2.3.11/parsley.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-xeditable/0.1.12/js/xeditable.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/1.2.4/ui-bootstrap-tpls.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/highcharts/4.2.5/highcharts.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/highcharts/4.2.5/modules/funnel.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/highcharts/4.2.5/modules/exporting.js"></script>
<script type="text/javascript">
    Dropzone.autoDiscover = false;
    var app = angular.module("app", []);
    function lockScroll(){
        $html = $('html');
        $body = $('body');
        var initWidth = $body.outerWidth();
        var initHeight = $body.outerHeight();

        var scrollPosition = [
            self.pageXOffset || document.documentElement.scrollLeft || document.body.scrollLeft,
            self.pageYOffset || document.documentElement.scrollTop  || document.body.scrollTop
        ];
        $html.data('scroll-position', scrollPosition);
        $html.data('previous-overflow', $html.css('overflow'));
        $html.css('overflow', 'hidden');
        window.scrollTo(scrollPosition[0], scrollPosition[1]);

        var marginR = $body.outerWidth()-initWidth;
        var marginB = $body.outerHeight()-initHeight;
        $body.css({'margin-right': marginR,'margin-bottom': marginB});
    }

    function unlockScroll(){
        $html = $('html');
        $body = $('body');
        $html.css('overflow', $html.data('previous-overflow'));
        var scrollPosition = $html.data('scroll-position');
        window.scrollTo(scrollPosition[0], scrollPosition[1]);

        $body.css({'margin-right': 0, 'margin-bottom': 0});
    }
    var loadingOverlay = function(element) {
        $.magnificPopup.open({
            items: {
                src: '<div class="white-popup"><i class="fa fa-spinner fa-1x fa-spin"></i> Processing</div>', // can be a HTML string, jQuery object, or CSS selector
                type: 'inline'
            },
            showCloseBtn: false,
            enableEscapeKey: false,
            closeOnBgClick: false
        });
    };
    var ngRefresh = function() {
        var scope = angular.element("body").scope();
        var compile = angular.element("body").injector().get('$compile');

        compile($("body").contents())(scope);
        scope.$apply();
    }
    jQuery(document).ready(function () {
        "use strict";
        // Init Theme Core
        Core.root = "{{@SCHEME.'://'.@HOST.@BASE.'/'}}";
        Core.init();
        Core.load();
        Custom.init();
        $.xhrPool = [];
        $.xhrPool.abortAll = function() {
            $(this).each(function(i, jqXHR) {   //  cycle through list of recorded connection
                jqXHR.abort();  //  aborts connection
                $.xhrPool.splice(i, 1); //  removes from list by index
            });
        }
        $.ajaxSetup({
            beforeSend: function(jqXHR) { $.xhrPool.push(jqXHR); }, //  annd connection to list
            complete: function(jqXHR) {
                var i = $.xhrPool.indexOf(jqXHR);   //  get index for current connection completed
                if (i > -1) $.xhrPool.splice(i, 1); //  removes from list by index
            }
        });
        updateAllRelativeDates();
        updateScrollers();
        $('a.organisation-switch').click(function (e) {
            Pace.restart();
            $.get('/organisations/changeto/'+ $(this).attr('data-organisation'),function(res){
                if(res.success)
                    window.location = '/';
            });
            e.preventDefault();
        })
        $(document).pjax("a[class!='no-pjax']", '#content');
        function ucFirst(string) {
            return string.substring(0, 1).toUpperCase() + string.substring(1).toLowerCase();
        }
        $(document).on('pjax:start', function() {
            loadingOverlay('body');
        });
        $(document).on('pjax:complete', function() {
                $.magnificPopup.close();
                Core.init();
                Core.load();
                Custom.init();
                updateAllRelativeDates();
                updateScrollers();
                $(window).trigger( 'load' );
                ngRefresh();
                $('span#module').text(ucFirst($('span#crumb').attr('data-title')));

            });
        $(document).on('pjax:end', function() {
            $.magnificPopup.close();
        })
        $(document).on('pjax:timeout', function(event) {
            event.preventDefault();
            $.get('/auth/checklogin', function (data) {
                if(data.loggedin == false){

                    $('.white-popup').remove();
                    $.magnificPopup.instance.appendContent($('#loginpopup').html());
                    $.xhrPool.abortAll();
                } else{

                }
            });

            })
        
        $.pjax.defaults.timeout = 3000;
        $.fn.parsley.defaults = {
            // basic data-api overridable properties here..
            inputs: 'input, textarea, select'           // Default supported inputs.
            , excluded: 'input[type=hidden], :disabled' // Do not validate input[type=hidden] & :disabled.
            , trigger: false                            // $.Event() that will trigger validation. eg: keyup, change..
            , animate: true                             // fade in / fade out error messages
            , animateDuration: 300                      // fadein/fadout ms time
            , focus: 'first'                            // 'fist'|'last'|'none' which error field would have focus first on form validation
            , validationMinlength: 3                    // If trigger validation specified, only if value.length > validationMinlength
            , successClass: 'has-success'           // Class name on each valid input
            , errorClass: 'has-error'               // Class name on each invalid input
            , errorMessage: false                       // Customize an unique error message showed if one constraint fails
            , validators: {}                            // Add your custom validators functions
            , showErrors: true                          // Set to false if you don't want Parsley to display error messages
            , messages: {}                              // Add your own error messages here

            //some quite advanced configuration here..
            , validateIfUnchanged: false                                          // false: validate once by field value change
            , errors: {
                classHandler: function ( elem, isRadioOrCheckbox ) {
                    // specify where parsley error-success classes are set
                    return $(elem).parents(".form-group");
                }
                , container: function ( elem, isRadioOrCheckbox ) {}
                , errorsWrapper: '<span class="help-block"></span>'                                        // do not set an id for this elem, it would have an auto-generated id
                , errorElem: '<span></span>'                                            // each field constraint fail in an li
            }
            , listeners: {
                onFieldValidate: function ( elem, ParsleyForm ) { return false; } // Executed on validation. Return true to ignore field validation
                , onFormSubmit: function ( isFormValid, event, ParsleyForm ) {}     // Executed once on form validation
                , onFieldError: function ( elem, constraints, ParsleyField ) {}     // Executed when a field is detected as invalid
                , onFieldSuccess: function ( elem, constraints, ParsleyField ) {}   // Executed when a field passes validation
            }
        };


        $('.sidebar-menu li a.accordion-toggle').on('click', function(e) {
            e.preventDefault();

            // If the clicked menu item is minified and is a submenu (has sub-nav parent) we do nothing
            if ($('body').hasClass('sb-l-m') && !$(this).parents('ul.sub-nav').length) { return; }

            // If the clicked menu item is a dropdown we open its menu
            if (!$(this).parents('ul.sub-nav').length) {

                // If sidebar menu is set to Horizontal mode we return
                // as the menu operates using pure CSS
                if ($(window).width() > 900) {
                    if ($('body.sb-top').length) { return; }
                }

                $('a.accordion-toggle.menu-open').next('ul').slideUp('fast', 'swing', function() {
                    $(this).attr('style', '').prev().removeClass('menu-open');
                });
            }
            // If the clicked menu item is a dropdown inside of a dropdown (sublevel menu)
            // we only close menu items which are not a child of the uppermost top level menu
            else {
                var activeMenu = $(this).next('ul.sub-nav');
                var siblingMenu = $(this).parent().siblings('li').children('a.accordion-toggle.menu-open').next('ul.sub-nav')

                activeMenu.slideUp('fast', 'swing', function() {
                    $(this).attr('style', '').prev().removeClass('menu-open');
                });
                siblingMenu.slideUp('fast', 'swing', function() {
                    $(this).attr('style', '').prev().removeClass('menu-open');
                });
            }

            // Now we expand targeted menu item, add the ".open-menu" class
            // and remove any left over inline jQuery animation styles
            if (!$(this).hasClass('menu-open')) {
                $(this).next('ul').slideToggle('fast', 'swing', function() {
                    $(this).attr('style', '').prev().toggleClass('menu-open');
                });
            }


        });

    });
</script>

<!-- END: PAGE SCRIPTS -->

</body>

</html>
