
<div class="col-md-12">
    <div class="panel panel-visible" id="spy4">
        <div class="panel-heading">
            <div class="panel-title">
                <span class="glyphicon glyphicon-tasks"></span>{{'Templates' | customlang}} Listing</div>
        </div>
        <div class="panel-menu text-right">
            <a href="/newslettertemplates/add" class="btn btn-info btn-sm light fw600 ml10">
                <span class="fa fa-plus pr5"></span> Add {{'Template' | customlang}} </a>
        </div>
        <div class="panel-body pn">
            <table class="table table-striped table-hover display" id="datatable" cellspacing="0" width="100%">
                <thead>
                <tr>
                    <th>Title</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                <repeat group="{{@list}}" value="{{@group}}">
                    <tr>
                        <td>{{@group->title}}</td>
                        <td><a href="/newslettertemplates/edit/{{@group->id}}">Edit</a> |
                            <a href="/newslettertemplates/view/{{@group->id}}" >View</a> |
                            <a class="delete" data-type="{{'Template' | customlang}}" href="/newslettertemplates/delete/{{@group->id}}" >Delete</a>
                        </td>
                    </tr>
                </repeat>


                </tbody>
            </table>
        </div>
    </div>
</div>

