<div class="clearfix"></div>
<div class="panel">
    <div class="panel-heading">
         <span class="panel-icon">
                      <i class="fa fa-user-plus"></i>
                    </span>
        <span class="panel-title"> {{@page.title}}</span>
    </div>
    <div class="panel-body">
        <form method="post" action="{{@form.action}}" data-parsley-validate>
            <div class="row general-fc">
                <repeat group="{{@permissions}}" key="{{@module}}" value="{{@perms}}">
                    <div class="col-md-4">
                        <div class="panel">
                            <div class="panel-heading">
                                <span class="panel-title">{{strtoupper(@module)}}</span>
                            </div>
                            <div class="panel-body bg-light pt20 pbn pl30">
                                <div class="row">
                                    <repeat group="{{@perms}}" key= "{{@action}}" value="{{@method}}">
                                        <div class="col-sm-12">
                                            <div class="form-group">
                                                <div class="col-sm-12 pl15">
                                                    <div class="bs-component">
                                                        <div class="checkbox-custom checkbox-primary mb10">
                                                            <input type="checkbox" id="checkbox_{{@module.@action}}" name="permission[{{@module}}][{{@action}}]"  value="1" {{@usertype->hasPermission(@module,@action)?'checked':''}} />
                                                            <label for="checkbox_{{@module.@action}}">{{str_replace("ACTION_", "" , @action)}}</label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </repeat>


                                </div>
                            </div>
                        </div>
                    </div>
                </repeat>

            </div>


            <div class="panel-footer text-right">
                        <button class="btn btn-success">Save and Continue</button>
            </div>
        </form>
    </div>

</div>

