
<!-- Admin Form Popup -->
<div id="modal-form" class="popup-basic popup-lg mfp-with-anim">
    <div class="panel">
        <div class="panel-heading">
            <span class="panel-title">
                <i class="fa fa-upload"></i>{{@page.title}}
            </span>
        </div>
        <!-- end .panel-heading section -->
        <div id="results"></div>
        <form method="post" class="ajaxable" action="{{@form.action}}" id="documents-form">
            <div class="panel-body p25">
                <div class="form-group">
                    <label for="document" class="control-label">Document</label>
                    <div class="bs-component">
                        <input type="text" name="document[title]" id="document" class="form-control"/>
                    </div>
                </div>
                <div class="form-group">
                    <label for="document" class="control-label"><i class="fa fa-file"></i> Upload Files</label>
                    <div class="bs-component">
                        <div id="documents" class="dropzone"></div>
                    </div>
                </div>
                <div class="form-group col-md-12">
                    <label for="description" class="control-label">Description</label>
                    <div class="bs-component">
                        <textarea  name="document[description]" id="description" class="form-control">  </textarea>
                    </div>
                </div>
                <input type="hidden" value="{{@PARAMS.motherid}}" name="document[quotation]"/>
            </div>
            <!-- end .form-body section -->

            <div class="panel-footer">
                <button type="submit" class="btn btn-sm btn-primary">Submit</button>
            </div>
            <!-- end .form-footer section -->
        </form>
    </div>
    <!-- end: .panel -->
</div>
<!-- end: .admin-form -->
