<!-- Task Form Popup -->
    <div class="panel popup-basic">
        <div class="panel-heading">
            <span class="panel-title">
                <i class="fa fa-building"></i>{{@page.title}}
            </span>
        </div>
        <form method="post" action="{{@form.action}}" class="ajaxable">
            <div class="panel-body">

                <div class="section">
                    <div class="form-group">
                        <label for="task_title" class="control-label">Task Title</label>
                        <div class="bs-component">
                            <input type="text" name="task[title]" id="task_title" class="form-control" placeholder="Follow up" required />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="task_duedate" class="control-label">Due Date</label>
                        <div class="bs-component">
                            <div class="input-group date" id="task_duedate">
                                <span class="input-group-addon cursor">
                                    <i class="fa fa-calendar"></i>
                                </span>
                                <input type="text" name="task[datedue]" class="form-control" readonly required style="background-color: #fff !important; cursor: text !important;"/>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="task_assignee" class="control-label">Assign to</label>
                        <div class="bs-component">
                            <select name="task[assignee]" class="select2-single form-control" group="{{@assignees}}">
                            </select>
                        </div>
                    </div>
                </div>
                <!-- end section -->

            </div>
            <!-- end .form-body section -->

            <div class="panel-footer">
                <check if="{{@PARAMS.mothercontroller}}">
                    <true>
                        <input type="hidden" name="task[lead]" value="{{@PARAMS.motherid}}">
                    </true>
                </check>

                <button type="submit" class="btn btn-sm btn-primary">Submit</button>
            </div>
            <!-- end .form-footer section -->
        </form>
    </div>
    <!-- end: .panel -->
<!-- end: .task-form -->

