<!-- Contact Form Popup -->
<div id="product-form" class="popup-basic popup-lg">
    <div class="panel">
        <div class="panel-heading">
            <span class="panel-title">
                <i class="fa fa-building"></i>{{@page.title}}
            </span>
        </div>
        <!-- end .panel-heading section -->
        <div id="contact-results"></div>
        <form method="post" action="{{@form.action}}" class="ajaxable">
            <div class="panel-body p25">

                <div class="section">
                    <div class="form-group col-md-12">
                        <label for="title" class="control-label">Product Status</label>
                        <div class="bs-component">
                            <input type="text" name="productStatus[title]" placeholder="A Short Title eg 'Open'." id="title" class="form-control" required/>
                        </div>
                    </div>
                    <div class="form-group col-md-12">
                        <label>Label</label>
                        <div class="bs-component">
                            <span class="label label-default"><input type="radio" name="productStatus[badge]" value="default"/>Default</span>
                            <span class="label label-primary"><input type="radio" name="productStatus[badge]" value="primary"/>Primary</span>
                            <span class="label label-success"><input type="radio" name="productStatus[badge]" value="success"/>Success</span>
                            <span class="label label-info"><input type="radio" name="productStatus[badge]" value="info"/>Info</span>
                            <span class="label label-warning"><input type="radio" name="productStatus[badge]" value="warning"/>Warning</span>
                            <span class="label label-danger"><input type="radio" name="productStatus[badge]" value="danger"/>Danger</span>
                            <span class="label label-system"><input type="radio" name="productStatus[badge]" value="system" required/>System</span>

                        </div>
                    </div>
                    <div class="form-group col-md-12">
                        <label for="description" class="control-label">Description</label>
                        <div class="bs-component">
                            <textarea  name="productStatus[description]" id="description" placeholder="A Short Description eg 'In Stock'." class="form-control">{{@@POST.productStatus.description}}</textarea>
                        </div>
                    </div>
                    <div class="form-group col-md-12">

                    </div>
                </div>
                <!-- end section -->
                <check if="{{@PARAMS.mothercontroller}}">
                    <true>
                        <input type="hidden" name="productStatus[organisation]" value="{{@PARAMS.motherid}}">
                    </true>
                </check>
            </div>
            <!-- end .form-body section -->

            <div class="panel-footer">
                <button type="submit" class="btn btn-sm btn-primary">Submit</button>
            </div>
            <!-- end .form-footer section -->
        </form>
    </div>
    <!-- end: .panel -->
</div>
<!-- end: .contact-form -->


