<div class="col-md-10">
    <div class="panel panel-visible" id="spy4">
        <div class="panel-heading">
            <div class="panel-title hidden-xs">
                <span class="glyphicon glyphicon-tasks"></span>{{@page.title}}</div>
        </div>
        <div class="panel-menu text-right">
            <a href="/productstatuses/add" class="btn btn-sm btn-alert ajax-modal"> <i class="fa fa-plus-circle"></i> Add Status</a>
        </div>
        <div class="panel-body pn">
            <table class="table table-striped table-hover display" id="datatable" cellspacing="0" width="100%">
                <thead>
                <tr>
                    <th>Title</th>
                    <th>Label</th>
                    <th>Description</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                <repeat group="{{@list}}" value="{{@productStatus}}">
                    <tr>
                        <td>{{@productStatus->title}}</td>
                        <td><span class="label label-{{@productStatus->badge}}">{{@productStatus->title}}</span></td>
                        <td>{{@productStatus->description}}</td>
                        <td><a href="/productstatuses/edit/{{@productStatus->id}}" class="ajax-modal" >Edit</a> </td>
                    </tr>
                </repeat>


                </tbody>
            </table>
        </div>
    </div>
</div>

