    <div id="content" class="table-layout animated fadeIn">
        <!-- begin: .tray-right -->
        <include href="organisations/aside.html"/>
        <!-- end: .tray-right -->
        <!-- begin: .tray-center -->
        <div class="tray tray-center">
            <div class="row">
                <div class="col-md-9">
                    <form action="/organisations/customlang/{{@org->id}}" method="post">
                    <div class="panel">
                        <div class="panel-heading">
                            <span class="panel-title">Customize Organisation Terminology</span>
                        </div>
                        <div class="panel-body pn">

                            <div class="bs-component">

                                <table class="table table-striped">
                                    <tbody>
                                    <repeat group="{{@CUSTOMLANG}}" key="{{@iKey}}" value="{{@lang}}">
                                        <tr>
                                            <td>{{@lang}}</td>
                                            <td class="text-right">
                                             <input class="form-control" type="text" name="lang[{{@iKey}}]" value="{{@lang, @org->id | customlang  }}"/>
                                            </td>
                                        </tr>
                                    </repeat>

                                    </tbody>
                                </table>



                            </div>
                        </div>
                        <div class="panel-footer block text-right">
                            <button class="btn btn-lg btn-success " type="submit">Save</button>
                        </div>

                    </div>
                    </form>
                </div>

            </div>
        </div>
        <!-- end: .tray-center -->


