<div class="col-md-12">
    <div class="panel panel-visible" id="spy4">
        <div class="panel-heading">
            <div class="panel-title">
                <span class="fa fa-table"></span>{{@page.title}}</div>
        </div>
        <div class="panel-menu text-right">
            <a href="/organisations/add" class="btn btn-info btn-sm light fw600 ml10 text-center">
                <span class="fa fa-plus pr5"></span> Add Organisation</a>
        </div>
        <div class="panel-body pn">
            <table class="table table-striped table-hover display" id="datatable" cellspacing="0">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Members</th>
                    <th>Leads</th>
                    <th>Opportunities</th>
                    <th>Created</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                <repeat group="{{@list}}" value="{{@organisation}}">
                    <tr>
                        <td>{{@organisation->name}}</td>
                        <td>{{count(@organisation->users)}}</td>
                        <td>{{count(@organisation->leads)}}</td>
                        <td>{{count(@organisation->opportunities)}}</td>
                        <td><time class="cw-relative-date" datetime="{{@organisation->datecreated}}"></time></td>
                        <td>
                            <a data-toggle="tooltip" data-title="Edit {{'Organisation'| customlang}}" class="iconLink" href="/organisations/edit/{{@organisation->id}}"><i class="fa fa-edit"></i> Edit</a> |
                            <a data-toggle="tooltip" data-title="View {{'Organisation'| customlang}}" class="iconLink" href="/organisations/view/{{@organisation->id}}"><i class="fa fa-search-plus"></i> View</a> |
                            <a data-toggle="tooltip" data-title="Delete {{'Organisation'| customlang}}" class="iconLink delete" data-type="Organisation" href="/organisations/delete/{{@organisation->id}}"><i class="fa fa-remove"></i> Delete</a>
                        </td>
                    </tr>
                </repeat>


                </tbody>
            </table>
        </div>
    </div>
</div>
