    <div id="content" class="table-layout animated fadeIn">
        <!-- begin: .tray-right -->
        <include href="organisations/aside.html"/>
        <!-- end: .tray-right -->
        <!-- begin: .tray-center -->
        <div class="tray tray-center">
            <div class="row">
                <div class="col-md-9">
                    <div class="panel">
                        <div class="panel-heading">
                            <span class="panel-title">{{'Product Types' | customlang}}</span>
                            <a class="ajax-modal pull-right" href="/organisation/{{@org->id}}/producttypes/add">
                                <i class="fa fa-plus"></i> Add
                            </a>
                        </div>
                        <div class="panel-body pn">

                            <div class="leadstatus bs-component">
                                <table class="table table-striped">
                                    <tbody>
                                    <repeat group="{{@org->producttypes}}" value="{{@type}}">
                                        <tr>
                                            <td>{{@type->title}}</td>
                                            <td class="text-right">
                                                <a href="/producttypes/edit/{{@type->id}}" class="ajax-modal"><span class="fa fa-pencil"></span> Edit </a> &nbsp;&nbsp;
                                                <a href="/producttypes/del/{{@type->id}}"><span class="fa fa-trash"></span> Delete </a>
                                            </td>
                                        </tr>
                                    </repeat>

                                    </tbody>
                                </table>


                            </div>
                        </div>

                    </div>
                    <div class="panel">
                        <div class="panel-heading">
                            <span class="panel-title">Lead Statuses</span>
                            <a class="ajax-modal pull-right" href="/organisation/{{@org->id}}/leadstatuses/add">
                                <i class="fa fa-plus"></i> Add
                            </a>
                        </div>
                        <div class="panel-body pn">

                            <div class="leadstatus bs-component">
                                <table class="table table-striped">
                                    <tbody>
                                    <repeat group="{{@org->leadstatuses}}" value="{{@status}}">
                                        <tr>
                                            <td>{{@status->title}}</td>
                                            <td class="text-right">
                                                <a href="/leadstatuses/edit/{{@status->id}}" class="ajax-modal"><span class="fa fa-pencil"></span> Edit </a> &nbsp;&nbsp;
                                                <a href="/leadstatuses/del/{{@status->id}}"><span class="fa fa-trash"></span> Delete </a>
                                            </td>
                                        </tr>
                                    </repeat>

                                    </tbody>
                                </table>


                            </div>
                        </div>

                    </div>
                    <div class="panel">
                        <div class="panel-heading">
                            <span class="panel-title">Opportunity Statuses</span>
                            <a class="ajax-modal pull-right" href="/organisation/{{@org->id}}/opportunitystatuses/add">
                                <i class="fa fa-plus"></i> Add
                            </a>
                        </div>
                        <div class="panel-body pn">

                            <div class="leadstatus bs-component">
                                <table class="table table-striped">
                                    <tbody>
                                    <repeat group="{{@org->opportunitystatuses}}" value="{{@status}}">
                                        <tr>
                                            <td>{{@status->title}}</td>
                                            <td class="text-right">
                                                <a href="/opportunitystatuses/edit/{{@status->id}}" class="ajax-modal"><span class="fa fa-pencil"></span> Edit </a> &nbsp;&nbsp;
                                                <a href="/opportunitystatuses/del/{{@status->id}}"><span class="fa fa-trash"></span> Delete </a>
                                            </td>
                                        </tr>
                                    </repeat>

                                    </tbody>
                                </table>


                            </div>
                        </div>

                    </div>
                    <div class="panel">
                        <div class="panel-heading">
                            <span class="panel-title">Lead Sources</span>
                            <a class="ajax-modal pull-right" href="/organisation/{{@org->id}}/leadsources/add">
                                <i class="fa fa-plus"></i> Add
                            </a>
                        </div>
                        <div class="panel-body pn">

                            <div class="bs-component">
                                <table class="table table-striped">
                                    <tbody>
                                    <repeat group="{{@org->leadsources}}" value="{{@source}}">
                                        <tr>
                                            <td>{{@source->title}}</td>
                                            <td class="text-right">
                                                <a href="/leadsources/edit/{{@source->id}}" class="ajax-modal"><span class="fa fa-pencil"></span> Edit </a> &nbsp;&nbsp;
                                                <a href="/leadsources/del/{{@source->id}}"><span class="fa fa-trash"></span> Delete </a>
                                            </td>
                                        </tr>
                                    </repeat>

                                    </tbody>
                                </table>


                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
        <!-- end: .tray-center -->


