

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-widget">
            <div class="panel-heading cursor">
                    <span class="panel-icon">
                      <i class="fa fa-plus-circle"></i>
                    </span>
                <span class="panel-title"> Quick View</span>
            </div>
            <div class="panel-body">
                <div class="col-md-3 text-center">
                    <a href="/leads/add" class="btn btn-default btn-sm light fw600 ml10 ajax-modal text-center">
                        <span class="fa fa-plus pr5"></span> Leads Analysis</a>
                    <div class="clearfix"><br/></div>
                    <div class="panel panel-tile text-center">
                        <div class="panel-body bg-info">
                            <h1 class="fs35 mbn">{{@ORGANIASTION->leads?count(@@ORGANIASTION->leads):'0'}}</h1>
                            <h6 class="text-white">LEAD(s)</h6>
                        </div>
                        <div class="panel-footer br-n p12">
    <span class="fs11">
      <a href="/leads"><i class="fa fa-arrow-right text-info pr5"></i></a>
      <b></b>
    </span>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 text-center">
                    <a href="/products/add" class="btn btn-default btn-sm light fw600 ml10 ajax-modal text-center">
                        <span class="fa fa-plus pr5"></span> Add {{'Product' | customlang}}</a>
                    <div class="clearfix"><br/></div>
                    <div class="panel panel-tile text-center">
                        <div class="panel-body bg-info">
                            <h1 class="fs35 mbn">{{@USER->myproducts?count(@USER->myproducts):'0'}}</h1>
                            <h6 class="text-white">{{'Product' | customlang}}(s)</h6>
                        </div>
                        <div class="panel-footer br-n p12">
    <span class="fs11">
        <a href="/products"><i class="fa fa-arrow-right text-info pr5"></i></a>
      <b></b>
    </span>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 text-center">
                    <a href="/quotations" class="btn btn-default btn-sm light fw600 ml10 text-center">
                        <span class="fa fa-plus pr5"></span> View {{'Quotations' | customlang}}</a>
                    <div class="clearfix"><br/></div>
                    <div class="panel panel-tile panel-warning text-center">
                        <div class="panel-body bg-info">
                            <h1 class="fs35 mbn">{{@USER->quotations?count(@USER->quotations):'0'}}</h1>
                            <h6 class="text-white">{{'Quotations' | customlang}}(s)</h6>
                        </div>
                        <div class="panel-footer br-n p12">
    <span class="fs11">
        <a href="/quotations"><i class="fa fa-arrow-right text-info pr5"></i></a>
      <b></b>
    </span>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 text-center">
                    <a href="/opportunities" class="btn btn-default btn-sm light fw600 ml10 text-center">
                        <span class="fa fa-plus pr5"></span> View Opportunities</a>
                    <div class="clearfix"><br/></div>
                    <div class="panel panel-tile panel-warning text-center">
                        <div class="panel-body bg-info">
                            <h1 class="fs35 mbn">{{@USER->myopportunities?count(@USER->myopportunities):'0'}}</h1>
                            <h6 class="text-white">{{'Opportunity' | customlang}}(s)</h6>
                        </div>
                        <div class="panel-footer br-n p12">
    <span class="fs11">
      <a href="/opportunities"><i class="fa fa-arrow-right text-info pr5"></i></a>
      <b></b>
    </span>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>
<div class="row">
    <form action="#" method="get">
        <div class="panel ">
            <div class="panel-heading">
                <div class="panel-title hidden-xs">
                    <span class="glyphicon glyphicon-tasks"></span>{{'Sort' | customlang}}</div>
            </div>
            <div class="panel-body">
                <include href="/general/timespan.html"/>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="opportunity_type" class="control-label">{{'Product Type' | customlang}}</label>
                        <div class="bs-component">
                            <select id="opportunity_type" name="productType" class="select2-single form-control" group="{{@producttypes}}">
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label class="control-label"></label>
                        <div class="bs-component">
                            <button class="btn btn-warning pull-right col-md-12" type="submit">Process</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<div class="row">
    <div class="col-md-3">
        <div class="panel">
            <div class="panel-heading">
                <div class="panel-title hidden-xs">
                    <span class="glyphicon glyphicon-copy"></span>Leads By Status</div>
            </div>
            <div class="panel-body pn" id="leadStatuses" style="height: 200px">

            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="panel">
            <div class="panel-heading">
                <div class="panel-title hidden-xs">
                    <span class="glyphicon glyphicon-copy"></span>Products By Status</div>
            </div>
            <div class="panel-body pn" id="productStatuses" style="height: 200px">

            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel">
            <div class="panel-heading">
                <div class="panel-title hidden-xs">
                    <span class="glyphicon glyphicon-copy"></span>Products Funnel</div>
            </div>
            <div class="panel-body pn" id="productFunnel" style="height: 200px">

            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel">
            <div class="panel-heading">
                <div class="panel-title hidden-xs">
                    <span class="glyphicon glyphicon-copy"></span>Opportunities Funnel</div>
            </div>
            <div class="panel-body pn" id="opportunitiesFunnel" style="height: 200px">

            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel">
            <div class="panel-heading">
                <div class="panel-title hidden-xs">
                    <span class="glyphicon glyphicon-copy"></span>Leads Funnel</div>
            </div>
            <div class="panel-body pn" id="leadsFunnel" style="height: 200px">

            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-visible" id="spy4">
            <div class="panel-heading">
                <div class="panel-title">
                    <span class="glyphicon glyphicon-shopping-cart"></span>Hot Products</div>
            </div>
            <div class="panel-body pn">
                <table class="table table-striped table-hover display" id="datatable" cellspacing="0">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Product Name</th>
                        <th>Quantity Sold</th>
                        <th>Amount</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    <repeat group="{{\Application\Models\Product::hot()}}" value="{{@product}}" counter="{{@i}}">
                        <tr>
                            <td>{{@i}}</td>
                            <td>{{@product->title}}</td>
                            <td>{{@product->sales?count(@product->sales):0}}</td>
                            <td>{{@product->totalSales | currency}}</td>
                            <td>
                                <a data-title="View Product" data-toggle="tooltip" class="iconLink" href="/products/view/{{@product->id}}"><i class="fa fa-search-plus"></i> View</a>
                            </td>
                        </tr>
                    </repeat>


                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-visible" id="spy4">
            <div class="panel-heading">
                <div class="panel-title">
                    <span class="glyphicon glyphicon-shopping-cart"></span>Cold Products</div>
            </div>
            <div class="panel-body pn">
                <table class="table table-striped table-hover display" id="datatable6" cellspacing="0">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Product Name</th>
                        <th>Quantity Sold</th>
                        <th>Amount</th>
                        <th>Opportunities</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    <repeat group="{{\Application\Models\Product::cold()}}" value="{{@product}}" counter="{{@i}}">
                        <tr>
                            <td>{{@i}}</td>
                            <td>{{@product->title}}</td>
                            <td>{{@product->sales?count(@product->sales):0}}</td>
                            <td>{{@product->totalSales | currency}}</td>
                            <td>{{@product->opportunities?count(@product->opportunities):0}}</td>
                            <td>
                                <a data-title="View Product" data-toggle="tooltip" class="iconLink" href="/products/view/{{@product->id}}"><i class="fa fa-search-plus"></i> View</a>
                            </td>
                        </tr>
                    </repeat>


                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<script>
    var leadStatuses = [
            <repeat group="{{@leadStatuses}}" value="{{@status}}">
            { label: "{{@status->title}} : {{@status->leads?count(@status->leads):0}}",  data: {{@status->leads?count(@status->leads):0}}},
    </repeat>
    ];
</script>
<script>
    var productStatuses = [
            <repeat group="{{@productStatuses}}" value="{{@status}}">
            { label: "{{@status->title}} : {{@status->products?count(@status->products):0}}",  data: {{@status->products?count(@status->products):0}}},
    </repeat>
    ];
</script>
<script>
    $(function(){

        $.plot('#leadStatuses', leadStatuses, {
            series: {
                pie: {
                    show: true,
                    radius: 1,
                }
            },
            legend: {
                show: true
            }
        });
    })
    $(function(){

        $.plot('#productStatuses', productStatuses, {
            series: {
                pie: {
                    show: true,
                    radius: 1,
                }
            },
            legend: {
                show: true
            }
        });
    })
    $(function () {

        $('#productFunnel').highcharts({
            chart: {
                type: 'funnel',
                marginRight: 100
            },
            title: {
                text: '',
                x: -50
            },
            plotOptions: {
                series: {
                    dataLabels: {
                        enabled: true,
                        format: '<b>{point.name}</b> ({point.y:,.0f})',
                        color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black',
                        softConnector: true
                    },
                    neckWidth: '30%',
                    neckHeight: '25%'

                    //-- Other available options
                    // height: pixels or percent
                    // width: pixels or percent
                }
            },
            legend: {
                enabled: false
            },
            series: [{
                name: 'Product Statuses',
                data: [
                        <repeat group="{{\Application\Models\ProductStatus::all()}}" value="{{@status}}">
                    ['{{@status->title}}', {{@status->products?count(@status->products):0}}],
                    </repeat>
                ]
            }]
        });
        $('#opportunitiesFunnel').highcharts({
            chart: {
                type: 'funnel',
                marginRight: 100
            },
            title: {
                text: '',
                x: -50
            },
            plotOptions: {
                series: {
                    dataLabels: {
                        enabled: true,
                        format: '<b>{point.name}</b> ({point.y:,.0f})',
                        color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black',
                        softConnector: true
                    },
                    neckWidth: '30%',
                    neckHeight: '25%'

                    //-- Other available options
                    // height: pixels or percent
                    // width: pixels or percent
                }
            },
            legend: {
                enabled: false
            },
            series: [{
                name: 'Opportunity Statuses',
                data: [
                        <repeat group="{{\Application\Models\OpportunityStatus::all()}}" value="{{@status}}">
                    ['{{@status->title}}', {{@status->opportunities?count(@status->opportunities):0}}],
                    </repeat>
                ]
            }]
        });
        $('#leadsFunnel').highcharts({
            chart: {
                type: 'funnel',
                marginRight: 100
            },
            title: {
                text: '',
                x: -50
            },
            plotOptions: {
                series: {
                    dataLabels: {
                        enabled: true,
                        format: '<b>{point.name}</b> ({point.y:,.0f})',
                        color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black',
                        softConnector: true
                    },
                    neckWidth: '30%',
                    neckHeight: '25%'

                    //-- Other available options
                    // height: pixels or percent
                    // width: pixels or percent
                }
            },
            legend: {
                enabled: false
            },
            series: [{
                name: 'Opportunity Statuses',
                data: [
                        <repeat group="{{\Application\Models\LeadStatus::all()}}" value="{{@status}}">
                    ['{{@status->title}}', {{@status->leads?count(@status->leads):0}}],
                    </repeat>
                ]
            }]
        });
    });
</script>