<!-- Task Widget -->
<div class="clearfix"></div>
<div class="row">
    <div class="col-md-6">
        <div class="panel panel-widget task-widget task-alt" id="p05">
            <div class="panel-heading cursor">
                    <span class="panel-icon">
                      <i class="fa fa-cog"></i>
                    </span>
                <span class="panel-title"> Upcoming Tasks</span>
            </div>
            <div class="panel-scroller scroller-md scroller-pn pn panel-body p15">
                <ul class="task-list task-current">
                    <repeat group="{{@USER->pendingtasks}}" value="{{@task}}">
                        <li class="task-item warning">
                            <div class="task-handle">
                                <div class="checkbox-custom">
                                    <input type="checkbox"/>
                                    <label for="task4"></label>
                                </div>
                            </div>
                            <div class="task-desc"><b>{{@task->title}} </b> - {{@task->lead->title}} <time class="cw-relative-date" datetime="{{@task->datedue}}"></time><a class="pull-right" href="/leads/view/{{@task->lead->id}}"><i class="fa fa-search-plus"></i>View</a></div>
                            <div class="task-menu"></div>
                        </li>
                    </repeat>

                </ul>
            </div>

        </div>
    </div>
    <div class="col-md-6">

        <div class="panel">
            <div class="panel-heading cursor">
                    <span class="panel-icon">
                      <i class="fa fa-angle-up"></i>
                    </span>
                <span class="panel-title"> Recent Activity</span>
            </div>
            <div class="panel-body {{ count(\Application\Models\Activity::happening())>7? 'panel-scroller scroller-md scroller-pn pn':''}}">
                <ol class="timeline-list">
                    <repeat group="{{\Application\Models\Activity::happening()}}" value="{{@activity}}">
                        <li class="timeline-item">
                            <div class="timeline-icon bg-dark light">
                                <span class="{{@activity->icon}}"></span>
                            </div>
                            <div class="timeline-desc">

                                <p><span class="text-darker"><a href="/leads/view/{{@activity->lead->id}}"><b>{{@activity->lead->title}}</b></a>: {{@activity->description}}</span>
                                    </br><time class="cw-relative-date" datetime="{{@activity->datecreated}}"></time>
                                </p>

                            </div>
                            <div class="timeline-date rightn">
                                {{@activity->creator->firstname}}
                                <img src="{{@activity->creator->gravatar}}" alt="avatar" class="mw30 br4 ml10">

                            </div>
                        </li>

                    </repeat>

                </ol>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">

        <div class="panel">
            <div class="panel-heading cursor">
                    <span class="panel-icon">
                      <i class="fa fa-angle-left"></i>
                    </span>
                <span class="panel-title"> Latest Leads</span>
            </div>
            <div class="panel-body">
                <table class="table">
                    <thead>
                    <tr class="success">
                        <th>#</th>
                        <th>Lead Name</th>
                        <th>Status</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <repeat group="{{@leads}}" value="{{@lead}}">
                        <tr>
                            <td>{{@lead->id}}</td>
                            <td>{{@lead->title}}</td>
                            <td>{{@lead->status->title}}</td>
                            <td><a href="/leads/view/{{@lead->id}}"><i class="fa fa-eye"></i>View</a> </td>
                        </tr>
                    </repeat>


                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-md-6">

        <div class="panel">
            <div class="panel-heading cursor">
                    <span class="panel-icon">
                      <i class="fa fa-angle-left"></i>
                    </span>
                <span class="panel-title">Warm Opportunities</span>
            </div>
            <div class="panel-body">
                <table class="table">
                    <thead>
                    <tr class="system">
                        <th>Contact</th>
                        <th>{{'Product Type' | customlang}}</th>
                        <th>{{'Products' | customlang}}</th>
                        <th>Amount</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    <repeat group="{{@opportunities}}" value="{{@opportunity}}">
                        <tr>
                            <td>{{@opportunity->contact->fullnames}}</td>
                            <td>{{@opportunity->producttype->title}}</td>
                            <td>{{@opportunity->products[0]->title}} {{@opportunity->products?count(@opportunity->products):0 > 1?'+'.count(@opportunity->products)-1:''}}</td>
                            <td>{{@opportunity->amount | currency}}</td>
                            <td><a href="/leads/view/{{@opportunity->lead->id}}"><i class="fa fa-eye"></i></a> </td>
                        </tr>
                    </repeat>


                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-widget">
            <div class="panel-heading cursor">
                    <span class="panel-icon">
                      <i class="fa fa-plus-circle"></i>
                    </span>
                <span class="panel-title"> Quick Access</span>
            </div>
            <div class="panel-body">
                <div class="col-md-3 text-center">
                    <a href="/leads/add" class="btn btn-default btn-sm light fw600 ml10 ajax-modal text-center">
                        <span class="fa fa-plus pr5"></span> Add New Lead</a>
                    <div class="clearfix"><br/></div>
                    <div class="panel panel-tile text-center">
                        <div class="panel-body bg-info">
                            <h1 class="fs35 mbn">{{@USER->myleads?count(@USER->myleads):'0'}}</h1>
                            <h6 class="text-white">LEAD(s)</h6>
                        </div>
                        <div class="panel-footer br-n p12">
    <span class="fs11">
      <a href="/leads"><i class="fa fa-arrow-right text-info pr5"></i></a>
      <b></b>
    </span>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 text-center">
                    <a href="/products/add" class="btn btn-default btn-sm light fw600 ml10 ajax-modal text-center">
                        <span class="fa fa-plus pr5"></span> Add {{'Product' | customlang}}</a>
                    <div class="clearfix"><br/></div>
                    <div class="panel panel-tile text-center">
                        <div class="panel-body bg-info">
                            <h1 class="fs35 mbn">{{@USER->myproducts?count(@USER->myproducts):'0'}}</h1>
                            <h6 class="text-white">{{'Product' | customlang}}(s)</h6>
                        </div>
                        <div class="panel-footer br-n p12">
    <span class="fs11">
        <a href="/products"><i class="fa fa-arrow-right text-info pr5"></i></a>
      <b></b>
    </span>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 text-center">
                    <a href="/quotations" class="btn btn-default btn-sm light fw600 ml10 text-center">
                        <span class="fa fa-plus pr5"></span> View {{'Quotations' | customlang}}</a>
                    <div class="clearfix"><br/></div>
                    <div class="panel panel-tile panel-warning text-center">
                        <div class="panel-body bg-info">
                            <h1 class="fs35 mbn">{{@USER->quotations?count(@USER->quotations):'0'}}</h1>
                            <h6 class="text-white">{{'Quotations' | customlang}}(s)</h6>
                        </div>
                        <div class="panel-footer br-n p12">
    <span class="fs11">
        <a href="/quotations"><i class="fa fa-arrow-right text-info pr5"></i></a>
      <b></b>
    </span>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 text-center">
                    <a href="/opportunities" class="btn btn-default btn-sm light fw600 ml10 text-center">
                        <span class="fa fa-plus pr5"></span> View Opportunities</a>
                    <div class="clearfix"><br/></div>
                    <div class="panel panel-tile panel-warning text-center">
                        <div class="panel-body bg-info">
                            <h1 class="fs35 mbn">{{@USER->myopportunities?count(@USER->myopportunities):'0'}}</h1>
                            <h6 class="text-white">{{'Opportunity' | customlang}}(s)</h6>
                        </div>
                        <div class="panel-footer br-n p12">
    <span class="fs11">
      <a href="/opportunities"><i class="fa fa-arrow-right text-info pr5"></i></a>
      <b></b>
    </span>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>


