<!-- end: .task-form -->
<div id="note-form" class="popup-basic popup-lg mfp-with-anim">
    <div class="panel">
        <div class="panel-heading">
            <span class="panel-title">
                <i class="fa fa-building"></i>{{@page.title}}
            </span>
        </div>
        <!-- end .panel-heading section -->
        <div id="note-results"></div>
        <form method="post" action="{{@form.action}}" class="ajaxable" id="create-payment">
            <div class="panel-body p25">
                <div class="section">
                    <div class="form-group col-lg-6">
                        <label for="date" class="control-label">Date</label>
                        <div class="bs-component">
                            <div class="input-group simpledate" id="date">
                                                <span class="input-group-addon cursor">
                                                     <i class="fa fa-calendar"></i>
                                                </span>
                                <input type="text" name="payment[datepaid]" value="{{@POST.payment.datepaid}}" class="form-control" style="background-color: #fff !important; cursor: text !important;"/>
                            </div>

                        </div>
                    </div>
                    <div class="form-group col-lg-6">
                        <label for="receiptNo" class="control-label">Receipt Number</label>
                        <div class="bs-component">
                           <input class="form-control" id="receiptNo" value="{{@POST.payment.receiptNo}}" name="payment[receiptNo]"/>
                        </div>
                    </div>
                    <div class="form-group col-lg-6">
                        <label for="chequeNo" class="control-label">Cheque Number</label>
                        <div class="bs-component">
                           <input class="form-control" id="chequeNo" value="{{@POST.payment.chequeNo}}" name="payment[chequeNo]"/>
                        </div>
                    </div>
                    <div class="form-group col-lg-6">
                        <label for="bank" class="control-label">Bank</label>
                        <div class="bs-component">
                           <input class="form-control" id="bank" name="payment[bank]" value="{{@POST.payment.bank}}"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="amount" class="control-label">Amount</label>
                        <div class="bs-component">
                           <input class="form-control amount" id="amount" name="payment[amount]" value="{{@POST.payment.amount}}"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="payment_text" class="control-label">Description</label>
                        <div class="bs-component">
                            <textarea name="payment[description]" class="form-control" id="payment_text" rows="3">{{@POST.payment.description}}</textarea>
                        </div>
                    </div>

                </div>
                <!-- end section -->

            </div>
            <!-- end .form-body section -->

            <div class="panel-footer">
                <check if="{{@PARAMS.mothercontroller}}">
                    <true>
                        <input type="hidden" name="payment[sale]" value="{{@PARAMS.motherid}}"/>
                    </true>
                </check>
                <button type="submit" class="btn btn-sm btn-primary">Submit</button>
            </div>
            <!-- end .form-footer section -->
        </form>
    </div>
    <!-- end: .panel -->
</div>
<!-- end: .note-form -->
<script>
    $(function(){
        $('.simpledate').datetimepicker({
            format:"YYYY-MM-DD"
        });
        $('input.amount').keyup(function(event) {

            // skip for arrow keys
            if(event.which >= 37 && event.which <= 40) return;

            // format number
            $(this).val(function(index, value) {
                return value
                        .replace(/\D/g, "")
                        .replace(/\B(?=(\d{3})+(?!\d))/g, ",")
                        ;
            });
        });
    });
</script>

