<repeat group="{{@fields}}" value="{{@field}}">

    <div class="form-group {{@colSize}} {{@GET.handler=='filter' && @field->default?'hidden':''}}">
        <label for="{{@field->slug}}" class="control-label">{{@field->name}}</label>
        <div class="bs-component">
            <input type="text" {{@GET.handler=='filter' && @field->default?'disabled':''}} placeholder="{{@field->name}}" name="custom[{{@field->id}}]" id="{{@field->slug}}" value="{{@field->customValue(@prod)?@field->customValue(@prod):@field->default}}" class="form-control"/>
        </div>
    </div>
</repeat>
