<div class="col-md-12">
    <div class="panel panel-visible" id="spy4">
        <div class="panel-heading">
            <div class="panel-title">
                <span class="glyphicon glyphicon-shopping-cart"></span>{{@page.title}}</div>
        </div>
        <div class="panel-body pn">
            <table class="table table-striped table-hover display" id="datatable" cellspacing="0">
                <thead>
                <tr>
                    <th>Client Name</th>
                    <th>{{'Products'| customlang }}</th>
                    <th>Amount</th>
                    <th>Creator</th>
                    <th>Created</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                <repeat group="{{@list}}" value="{{@sale}}">
                    <tr>
                        <td>{{@sale->contact->fullnames}}</td>
                        <td>{{@sale->products[0]->title}} {{@sale->products?count(@sale->products):0> 1?'+'.count(@sale->products)-1:''}}</td>
                        <td>{{@sale->amount | currency}}</td>
                        <td>{{@sale->creator->fullnames}}</td>
                        <td><time class="cw-relative-date" datetime="{{@sale->datecreated}}"></time></td>
                        <td>
                            <a data-title="View Sale" data-toggle="tooltip" class="iconLink" href="/sales/view/{{@sale->id}}"><i class="fa fa-search-plus"></i> View</a> |
                            <a data-type="Sale" data-title="Delete Sale" data-toggle="tooltip" class="delete iconLink" href="/sales/delete/{{@sale->id}}"><i class="fa fa-remove"></i> Delete</a>
                        </td>
                    </tr>
                </repeat>


                </tbody>
            </table>
        </div>
    </div>
</div>