<div class="row">
    <form class="{{@form.action}}" method="get">
    <div class="panel ">
        <div class="panel-heading">
            <div class="panel-title hidden-xs">
                <span class="glyphicon glyphicon-tasks"></span>{{'Sort' | customlang}}</div>
        </div>
        <div class="panel-body">
            <include href="/general/timespan.html"/>
            <div class="col-md-3">
                <div class="form-group">
                    <label for="opportunity_type" class="control-label">{{'Opportunity Type' | customlang}}</label>
                    <div class="bs-component">
                        <select id="opportunity_type" name="productType" class="select2-single form-control" group="{{@producttypes}}">
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label class="control-label"></label>
                    <div class="bs-component">
                        <button class="btn btn-warning pull-right col-md-12" type="submit">Process</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </form>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-visible" id="spy4">
            <div class="panel-heading">
                <div class="panel-title hidden-xs">
                    <span class="glyphicon glyphicon-tasks"></span>{{'Sales Outlook' | customlang}} Report</div>
            </div>
            <div class="panel-menu"></div>
            <div class="panel-body pn">
                <table class="table table-striped table-hover display" id="datatable6" cellspacing="0" width="100%">
                    <thead>
                    <tr>
                        <th>Client</th>
                        <th>{{'Product' | customlang}}(s)</th>
                        <th>{{'Total' | customlang}}(s)</th>
                        <th>{{'Amount' | customlang}} Expected</th>
                        <th>{{'Amount' | customlang}} Paid</th>
                        <th>{{'Amount' | customlang}} Late</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>

                    <repeat group="{{@sales}}" value="{{@sale}}">
                        <tr>
                            <td>{{@sale->contact->fullnames}}</td>
                            <td>{{@sale->products[0]->title}}</td>
                            <td>{{@sale->amount | currency}}</td>
                            <td>{{@sale->expected(@POST.startDate,@POST.endDate) | currency}}</td>
                            <td>{{@sale->paid(@POST.startDate,@POST.endDate) | currency}}</td>
                            <td>{{@sale->late(@POST.startDate,@POST.endDate) | currency}}</td>
                            <td><a href="/sales/view/{{@sale->id}}" >View</a></td>
                        </tr>
                    </repeat>


                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<script>
    $(function(){

        $.plot('#expectedPayments', expectedPayments, {
            series: {
                pie: {
                    show: true,
                    radius: 1,
                }
            },
            legend: {
                show: true
            }
        });
        $.plot('#latePayments', latePayments, {
            series: {
                pie: {
                    show: true,
                    radius: 1,
                }
            },
            legend: {
                show: true
            }
        });
        $.plot('#paidPayments', paidPayments, {
            series: {
                pie: {
                    show: true,
                    radius: 1,
                }
            },
            legend: {
                show: true
            }
        });
    })
</script>

