<div class="clearfix"></div>
<div class="row">
    <div class="col-md-7">
        <div class="panel pn">
            <div class="panel-heading">
                <span class="panel-title">Client</span>
                <div class="widget-menu pull-right mr10">
                    <div class="progress progress-bar-sm" style="width: 120px;">
                        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="{{@sale->amount?number_format(@sale->paid * 100/@sale->amount):0}}" aria-valuemin="0" aria-valuemax="100" style="width: {{number_format(@sale->paid * 100/@sale->amount)}}%">
                            <span class="sr-only">{{@sale->amount? number_format(@sale->paid * 100/@sale->amount):0}}% Paid</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <div class="col-md-2">
                    <img src="{{@sale->contact->gravatar}}" alt="avatar" >
                </div>
                <div class="well well-sm col-md-10" style="padding: 0px; padding-left: 10px">
                    <address>
                        <h4>{{@sale->contact->fullnames}}</h4>
                        {{@sale->contact->email}}
                        <br>
                        <abbr title="Phone">Tel: </abbr>{{@sale->contact->telephone}}
                    </address>
                </div>
                <a class="btn btn-xs btn-danger pull-right delete iconLink" id="cancelsale" data-title="This will Cancel the Sale" data-type="Sale" href="/sales/delete/{{@sale->id}}" data-toggle="tooltip">Cancel Sale</a>
                <a class="btn btn-xs btn-success pull-right" id="closesale" data-title="This will Close the Sale if all Payments are done" data-type="Sale" href="/sales/close/{{@sale->id}}" data-toggle="tooltip">Close Sale</a>
            </div>
        </div>
        <div class="panel">
            <div class="panel-heading">
              <span class="panel-title">
                <span class="fa fa-archive"></span>{{'Products' | customlang }}</span>
            </div>

            <div class="panel-body pn">
                <div class="bs-component">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>{{'Product' | customlang }}</th>
                            <th>{{'Product Type' | customlang }}</th>
                            <th>Price</th>
                            <th>Unit</th>
                        </tr>
                        </thead>
                        <tbody>
                        <repeat group="{{@sale->products}}" counter="{{@i}}" value="{{@product}}">
                            <tr>
                                <td>{{@i}}</td>
                                <td>{{@product->title}}</td>
                                <td>{{@product->type->title}}</td>
                                <td>{{@product->price | currency}}</td>
                                <td>{{@product->unit}}</td>
                            </tr>
                        </repeat>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="panel">
            <div class="panel-heading">
              <span class="panel-title">
                <span class="fa fa-bank"></span>Payments Made</span>
                <span class="pull-right">
                        <a class="ajax-modal" href="/sale/{{@sale->id}}/payments/add">
                            <i class="fa fa-plus"></i> Add
                        </a>
                </span>
            </div>

            <div class="panel-body pn">
                <div class="bs-component">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Date</th>
                            <th>Receipt No</th>
                            <th>Bank</th>
                            <th>Cheque No</th>
                            <th class="text-right">Amount</th>
                            <th>Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        <repeat group="{{@sale->payments}}" counter="{{@i}}" value="{{@payment}}">
                            <tr>
                                <td>{{@i}}</td>
                                <td>{{@payment->datepaid}}</td>
                                <td>{{@payment->receiptNo}}</td>
                                <td>{{@payment->bank}}</td>
                                <td>{{@payment->chequeNo}}</td>
                                <td class="text-right">{{@payment->amount | currency}}</td>
                                <td>
                                    <a data-toggle="tooltip" title="Edit Payment" class="ajax-modal iconLink" href="/sale/{{@sale->id}}/payments/edit/{{@payment->id}}"><i class="fa fa-edit"></i></a>&nbsp;
                                    <a data-toggle="tooltip" title="Delete Payment" class="delete iconLink" data-type="Payment" href="/sale/{{@sale->id}}/payments/delete/{{@payment->id}}"><i class="fa fa-remove"></i></a>
                                </td>
                            </tr>
                        </repeat>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="panel">
            <div class="panel-heading">
              <span class="panel-title">
                <span class="fa fa-money"></span>Payment Plan</span>
            </div>
            <div class="panel-body pn">
                <div class="bs-component">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Amount</th>
                            <th>Date</th>
                            <th>Remarks</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <repeat group="{{@sale->quotation->paymentPlan}}" counter="{{@i}}" value="{{@paymentplan}}">
                            <tr>
                                <td>{{@i}}</td>
                                <td class="text-right text-danger">{{@paymentplan->amount | currency}}</td>
                                <td>{{@paymentplan->datedue}}</td>
                                <td>{{@paymentplan->description}}</td>
                                <td><a target="_blank" data-toggle="tooltip" title="Generate Invoice"  href="/sales/plans/{{@paymentplan->id}}"><i class="fa fa-file"></i></a></td>
                            </tr>
                        </repeat>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>


    </div>
    <div class="col-md-5">
        <div class="panel">
            <div class="panel-heading">
    <span class="panel-icon">
      <i class="fa fa-clock-o"></i>
    </span>
                <span class="panel-title"> Payments Timeline</span>
                <span class="pull-right">
                        <a class="ajax-modal" href="/sale/{{@sale->id}}/transcripts/add">
                            <i class="fa fa-plus"></i> Add Note
                        </a>
                </span>
            </div>
            <div class="panel-body ptn pbn p10">
                <ol class="timeline-list">
                    <repeat group="{{@sale->allactivities}}" value="{{@transcript}}">
                        <li class="timeline-item">
                            <div class="timeline-icon {{@transcript->bgClass}}">
                                <span class="{{@transcript->icon}}"></span>
                            </div>
                            <div class="timeline-desc">
                                <b>{{@transcript->type== 'note'? @transcript->creator->firstname .' :' : '' }}{{@transcript->type== 'payment'? @sale->contact->firstname .' :' : '' }}</b> {{@transcript->description}}
                            </div>
                            <time class="cw-relative-date" datetime="{{@transcript->datecreated}}"></time>
                        </li>
                    </repeat>

                </ol>
            </div>
        </div>
    </div>

</div>