
<!DOCTYPE html>
<html>

<head>
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <title>{{@app.title}} | {{@page.title}}</title>
    <meta name="keywords" content="HTML5 Bootstrap 3 Admin Template UI Theme" />
    <meta name="description" content="AdminDesigns - A Responsive HTML5 Admin UI Framework">
    <meta name="author" content="AdminDesigns">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Font CSS (Via CDN) -->
    <link rel='stylesheet' type='text/css' href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700'>

    <!-- Theme CSS -->
    <link rel="stylesheet" type="text/css" href="/public/assets/skin/default_skin/css/theme.css">

    <!-- Favicon -->
    <link rel="shortcut icon" href="/public/assets/img/favicon.png">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->

</head>
<style>
    body {
        height: 100%;
        margin: 0;
    }
    html {
        padding-bottom: 50px;
        min-height: 100%;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        position: relative;
    }

    footer {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: 50px;
    }
</style>
<body class="boxed-layout sb-top">

<!-- Start: Main -->
<div id="main">

    <!-- Start: Header -->
    <header class="navbar navbar-static-top navbar-shadow">
        <div class="navbar-branding">
            <a class="navbar-brand" href="/">
                <img src="/public/assets/img/logos/salesant-logo-main.png" title="SalesAnt Logo" class="img-responsive" style="padding-top: 10px">
            </a>
            <span id="toggle_sidemenu_l" class="ad ad-lines"></span>
        </div>
        <form class="navbar-form navbar-left navbar-search" role="search">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Search..." value="Search..."/>
            </div>
        </form>

        <ul class="nav navbar-nav navbar-right">

            <li class="dropdown">
                <a href="#" class="dropdown-toggle fw600 p15" data-toggle="dropdown"> <img src="{{@USER->gravatar}}" alt="avatar" class="mw30 br64 mr15"> {{@USER->fullnames}}
                    <span class="caret caret-tp hidden-xs"></span>
                </a>
                <ul class="dropdown-menu list-group dropdown-persist w250" role="menu">
                    <li class="list-group-item">
                        <a href="/profile" class="animated animated-short fadeInUp">
                            <span class="fa fa-gear"></span> Account Settings </a>
                    </li>
                    <li class="list-group-item">
                        <a href="/auth/logout" class="animated animated-short fadeInUp">
                            <span class="fa fa-power-off"></span> Logout </a>
                    </li>
                </ul>
            </li>
            <li id="toggle_sidemenu_t">
                <span class="fa fa-caret-up"></span>
            </li>
        </ul>

    </header>
    <!-- End: Header -->

    <!-- Start: Sidebar -->
    <aside id="sidebar_left" class="">

        <!-- Start: Sidebar Left Content -->
        <div class="sidebar-left-content nano-content">

            <!-- Start: Sidebar Menu -->
            <ul class="nav sidebar-menu">
                <li {{ strpos(@page.title,'Dashboard')!== false?'class="active"':''}}>
                    <a href="/">
                        <span class="glyphicon glyphicon-home"></span>
                        <span class="sidebar-title">Dashboard</span>
                    </a>
                </li>
                <li {{ strpos(@page.title,'Billing')!== false?'class="active"':''}}>
                    <a href="/billing">
                        <span class="glyphicon glyphicon-euro"></span>
                        <span class="sidebar-title">Billing</span>
                    </a>
                </li>
                <li {{ strpos(@page.title,'Organisations')!== false?'class="active"':''}}>
                    <a href="/organisations">
                        <span class="glyphicon glyphicon-bookmark"></span>
                        <span class="sidebar-title">Organisations</span>
                    </a>
                </li>
                <li {{ strpos(@page.title,'Support')!== false?'class="active"':''}}>
                    <a href="/support">
                        <span class="glyphicon glyphicon-book"></span>
                        <span class="sidebar-title">Support</span>
                    </a>
                </li>
                <li {{ strpos(@page.title,'Profile')!== false?'class="active"':''}}>
                    <a href="/profile">
                        <span class="glyphicon glyphicon-user"></span>
                        <span class="sidebar-title">Profile</span>
                    </a>
                </li>

            </ul>
            <!-- End: Sidebar Menu -->

        </div>
        <!-- End: Sidebar Left Content -->

    </aside>

    <!-- Start: Content-Wrapper -->
    <section id="content_wrapper">

        <!-- Start: Topbar-Dropdown -->
        <div id="topbar-dropmenu">
            <div class="topbar-menu row">
                <div class="col-xs-4 col-sm-2">
                    <a href="#" class="metro-tile">
                        <span class="metro-icon glyphicon glyphicon-inbox"></span>
                        <p class="metro-title">Messages</p>
                    </a>
                </div>
                <div class="col-xs-4 col-sm-2">
                    <a href="#" class="metro-tile">
                        <span class="metro-icon glyphicon glyphicon-user"></span>
                        <p class="metro-title">Users</p>
                    </a>
                </div>
                <div class="col-xs-4 col-sm-2">
                    <a href="#" class="metro-tile">
                        <span class="metro-icon glyphicon glyphicon-headphones"></span>
                        <p class="metro-title">Support</p>
                    </a>
                </div>
                <div class="col-xs-4 col-sm-2">
                    <a href="#" class="metro-tile">
                        <span class="metro-icon fa fa-gears"></span>
                        <p class="metro-title">Settings</p>
                    </a>
                </div>
                <div class="col-xs-4 col-sm-2">
                    <a href="#" class="metro-tile">
                        <span class="metro-icon glyphicon glyphicon-facetime-video"></span>
                        <p class="metro-title">Videos</p>
                    </a>
                </div>
                <div class="col-xs-4 col-sm-2">
                    <a href="#" class="metro-tile">
                        <span class="metro-icon glyphicon glyphicon-picture"></span>
                        <p class="metro-title">Pictures</p>
                    </a>
                </div>
            </div>
        </div>
        <!-- End: Topbar-Dropdown -->

        <!-- Start: Topbar -->
        <header id="topbar">
            <div class="topbar-left">
                <ol class="breadcrumb">
                    <li class="crumb-icon crumb-active">
                        <a href="/">
                            <span class="glyphicon glyphicon-home"></span>
                        </a>
                    </li>
                    <li class="crumb-link">
                        <a href="/">Home</a>
                    </li>
                    <li class="crumb-trail">{{@page.title}}</li>
                </ol>
            </div>
            <div class="topbar-right">
                <!-- sidebar_right not compatible with horizontal menu, toggle btn removed -->
            </div>
        </header>
        <!-- End: Topbar -->

        <!-- Begin: Content -->
        <section id="content" class="animated fadeIn">
            <check if="{{@account->trial == 1}}">
                <true>
                    <div class="alert alert-danger alert-dismissable">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                        <i class="fa fa-remove pr10"></i>
                        <strong>Trial Account!</strong> Your account is a trial account with
                        <a href="/billing" class="alert-link">{{date_diff(date_create('TODAY'), date_create(@account->expires))->format('%R%a')}} days</a> remaining in you trial.
                    </div>
                </true>
            </check>


            <div class="col-lg-12" style="margin-top: 10px">
                <repeat group="{{ \Flash::instance()->getMessages() }}" value="{{ @msg }}">
                    <div class="alert alert-{{ @msg.status }} alert-dismissable alert-dismiss">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                        {{ @msg.text | esc }}
                    </div>
                </repeat>
            </div>
                <include if="{{ @INNER.PAGE }}" href="{{@INNER.PAGE}}" />

        </section>
        <!-- End: Content -->

    </section>

    <!-- Start: Right Sidebar -->
    <!-- End: Right Sidebar -->
    <footer id="content-footer">
        <div class="row">
            <div class="col-xs-6">
                <span class="footer-legal">© 2016 <a href="http://www.salesant.com/">SalesAnt</a></span>
            </div>
            <div class="col-xs-6 text-right">
                <span class="footer-meta">{{date_diff(date_create('TODAY'), date_create(@account->expires))->format('%R%a')}} <b>Days</b> Free trial</span>
                <a href="#content" class="footer-return-top">
                    <span class="fa fa-arrow-up"></span>
                </a>
            </div>
        </div>
    </footer>
</div>

<!-- End: Main -->

<!-- BEGIN: PAGE SCRIPTS -->

<!-- jQuery -->
<script src="/public/vendor/jquery/jquery-1.11.1.min.js"></script>
<script src="/public/vendor/jquery/jquery_ui/jquery-ui.min.js"></script>

<!-- Theme Javascript -->
<script src="/public/assets/js/utility/utility.js"></script>
<script src="/public/assets/js/demo/demo.js"></script>
<script src="/public/assets/js/account.js"></script>
<script type="text/javascript">
    jQuery(document).ready(function() {

        "use strict";

        // Init Theme Core
        Core.init();


    });
</script>

<!-- END: PAGE SCRIPTS -->

</body>

</html>
