<div class="popup-basic panel popup-lg">
    <form method="post" action="{{@form.action}}" class="ajaxable">
    <div class="panel-heading">
        <ul class="nav panel-tabs-border panel-tabs panel-tabs-left">
            <li class="active">
                <a href="#tab2_1" data-toggle="tab">Opportunity Details</a>
            </li>
            <li>
                <a href="#tab2_2" data-toggle="tab">{{'Products' | customlang}}</a>
            </li>
        </ul>
    </div>
    <div class="panel-body">
        <div class="tab-content pn br-n">
            <div id="tab2_1" class="tab-pane active">
                <div class="row">
                    <div class="section col-md-6">
                        <div class="form-group">
                            <label for="opportunity_type" class="control-label">{{'Opportunity Type' | customlang}}</label>
                            <div class="bs-component">
                                <select id="opportunity_type" required="required" name="opportunity[producttype]" class="select2-single form-control" group="{{@producttypes}}">
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Status</label>
                            <div class="bs-component">
                                <select name="opportunity[status]" required="required" class="select2-single form-control" group="{{@statuses}}">
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="opportunity_value" class="control-label">Value</label>
                            <div class="bs-component">
                                <div class="input-group">
                                <span class="input-group-addon">
                                    Ksh.
                                </span>
                                    <input name="opportunity[amount]" id="opportunity_value" class="form-control" type="number" />
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="opportunity_closedate" class="control-label">Estimated Close Date</label>
                            <div class="bs-component">
                                <div class="input-group simpledate" id="opportunity_closedate">
                                <span class="input-group-addon cursor">
                                    <i class="fa fa-calendar"></i>
                                </span>
                                    <input type="text" name="opportunity[expecteddate]" class="form-control" required="" style="background-color: #fff !important; cursor: text !important;"/>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="section col-md-6">

                        <div class="form-group">
                            <label class="control-label">Confidence: <span id="percentage" style="color:#f6931f;">{{@@POST.opportunity.confidence?@POST.opportunity.confidence:'50'}}%</span></label>
                            <div class="admin-form">
                                <div class="slider-wrapper slider-primary">
                                    <div id="confidence-count"></div>
                                </div>
                            </div>
                            <input type="hidden" name="opportunity[confidence]" id="opportunity_confidence" value="50" class="form-control" />
                        </div>

                        <div class="form-group">
                            <label  class="control-label">Contact</label>
                            <div class="bs-component">
                                <select name="opportunity[contact]" required="required" class="select2-single form-control" group="{{@contacts}}">
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label">Assign to</label>
                            <div class="bs-component">
                                <select name="opportunity[assignee]" required="required" class="select2-single form-control" group="{{@assignees}}">
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="opportunity_comments" class="control-label">Comments</label>
                            <div class="bs-component">
                                <textarea name="opportunity[description]" class="form-control smallnote" id="opportunity_comments" rows="3">{{@POST.opportunity.description}}</textarea>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div id="tab2_2" class="tab-pane">
                <div class="row">
                    <div class="section col-md-12">
                        <div class="panel">
                            <div class="panel-body">
                                    <table class="table" id="datatable">
                                        <thead>
                                        <tr class="bg-light">
                                            <th class="text-center">Select</th>
                                            <th class="">{{'Product Title' | customlang}}</th>
                                            <th class="">Unit</th>
                                            <th class="">Price</th>

                                        </tr>
                                        </thead>
                                        <tbody>
                                        <repeat group="{{@products}}" value="{{@product}}">
                                        <tr>
                                            <td class="text-center">
                                                <label class="option block mn">
                                                    <input {{@opportunity->organisation->settings['products']=='single'?'type="radio"':'type="checkbox"'}} name="opportunity[products][]" value="{{@product->id}}" {{ \Application\Models\Opportunity::hasProduct(@PARAMS.id,@product->id)?'checked':''}}/>
                                                    <span class="checkbox mn"></span>
                                                </label>
                                            </td>
                                            <td class="">{{@product->title}}</td>
                                            <td class="">{{@product->unit}}</td>
                                            <td class="">{{@product->price | currency}}</td>
                                        </tr>
                                        </repeat>
                                        </tbody>
                                    </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- end .form-footer section -->
    </div>
        <div class="panel-footer">
            <check if="{{@PARAMS.mothercontroller}}">
                <true>
                    <input type="hidden" name="opportunity[lead]" value="{{@PARAMS.motherid}}">
                </true>
            </check>
            <button type="submit" class="btn btn-sm btn-primary">Submit</button>
        </div>
    </form>
</div>

