<div class="col-md-12">
    <div class="panel panel-visible" id="spy4">
        <div class="panel-heading">
            <div class="panel-title">
                <span class="glyphicon glyphicon-tasks"></span>{{@page.title}}</div>
        </div>
        <div class="panel-body pn">
            <table class="table table-striped table-hover display table-responsive" id="datatable" cellspacing="0">
                <thead>
                <tr>
                    <th>Contact Name</th>
                    <th class="hidden-sm hidden-xs">Status</th>
                    <th>{{'Opportunity Type'| customlang}}</th>
                    <th>Value</th>
                    <th class="hidden-sm hidden-xs">Assignee</th>
                    <th class="hidden-sm hidden-xs">Created</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                <repeat group="{{@list}}" value="{{@opportunity}}">
                    <tr>
                        <td>{{@opportunity->contact->fullnames}}</td>
                        <td class="hidden-sm hidden-xs">{{@opportunity->status->title}}</td>
                        <td>{{@opportunity->producttype->title}}</td>
                        <td>{{@@opportunity->amount | currency }}</td>
                        <td class="hidden-sm hidden-xs">{{@opportunity->assignee->fullnames}}</td>
                        <td class="hidden-sm hidden-xs"><time class="cw-relative-date" datetime="{{@opportunity->datecreated}}"></time></td>
                        <td><a data-toggle="tooltip" title="View {{'Opportunity' | customlang}}" href="/leads/view/{{@opportunity->lead->id}}" class="iconLink" ><i class="fa fa-search-plus"></i> View</a></td>
                    </tr>
                </repeat>


                </tbody>
            </table>
        </div>
    </div>
</div>

