<div class="col-md-3">
    <div class="form-group">
        <label for="startdate" class="control-label">Start Date</label>
        <div class="bs-component">
            <div class="input-group simpledate" id="startdate">
                                <span class="input-group-addon cursor">
                                    <i class="fa fa-calendar"></i>
                                </span>
                <input type="text" name="startDate" class="form-control" required="" style="background-color: #fff !important; cursor: text !important;"/>
            </div>
        </div>
    </div>
</div>
<div class="col-md-3">
    <div class="form-group">
        <label for="enddate" class="control-label">End Date</label>
        <div class="bs-component">
            <div class="input-group simpledate" id="enddate">
                                <span class="input-group-addon cursor">
                                    <i class="fa fa-calendar"></i>
                                </span>
                <input type="text" name="endDate" class="form-control" required="" style="background-color: #fff !important; cursor: text !important;"/>
            </div>
        </div>
    </div>
</div>