<!-- Contact Form Popup -->
<div id="product-form" class="popup-basic popup-lg">
    <div class="panel">
        <div class="panel-heading">
            <span class="panel-title">
                <i class="fa fa-building"></i>{{@page.title}}
            </span>
        </div>
        <!-- end .panel-heading section -->
        <div id="contact-results"></div>
        <form method="post" action="{{@form.action}}" class="ajaxable">
            <div class="panel-body p25">

                <div class="section">
                    <div class="form-group col-md-12">
                        <label for="title" class="control-label">Lead Source</label>
                        <div class="bs-component">
                            <input type="text" name="leadSource[title]" id="title" class="form-control" required/>
                        </div>
                    </div>
                    <div class="form-group col-md-12">
                        <label for="description" class="control-label">Description</label>
                        <div class="bs-component">
                            <textarea  name="leadSource[description]" id="description" class="form-control">{{@@POST.leadSource.description}}</textarea>
                        </div>
                    </div>
                    <div class="form-group col-md-12">

                    </div>
                </div>
                <!-- end section -->
                <check if="{{@PARAMS.mothercontroller}}">
                    <true>
                        <input type="hidden" name="leadSource[organisation]" value="{{@PARAMS.motherid}}">
                    </true>
                </check>
            </div>
            <!-- end .form-body section -->

            <div class="panel-footer">
                <button type="submit" class="btn btn-sm btn-primary">Submit</button>
            </div>
            <!-- end .form-footer section -->
        </form>
    </div>
    <!-- end: .panel -->
</div>
<!-- end: .contact-form -->


